<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Perinatal Newsletter</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
  <link href="/css/startup-materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="shortcut icon" href="/images/favicon.png" />
  <link href="/css/main.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/css/janMain.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/css/february.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/css/march.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/css/april.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CSS FONT -->
  <link href="https://fonts.googleapis.com/css?family=Ultra&display=swap" rel="stylesheet">
</head>

<body>
  {{{body}}}
</body>

</html>