<nav class="navbar navbar-solid-transition">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MLKCH Perinatal Department Newsletter</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a class="dropdown-trigger" href="#!" data-target="pages">Previous Newsletters<i
                        class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <ul id="pages" class="dropdown-content">
            <li><a href="/">April 2020</a></li>
            <li><a href="/march">March 2020</a></li>
            <li><a href="/february">February 2020</a></li>
            <li><a href="/january">January 2020</a></li>
            <li><a href="/december">December 2019</a></li>
        </ul>

        <a href="/" data-target="slide-out" class="sidenav-trigger button-collapse right"><i
                class="material-icons white-text">Menu</i></a>
    </div>
</nav>
<ul id="slide-out" class="sidenav">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-teal active">Previous Newsletters</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/">April 2020</a></li>
                        <li><a href="/march">March 2020</a></li>
                        <li><a href="/february">February 2020</a></li>
                        <li><a href="/january">January 2020</a></li>
                        <li><a href="/december">December 2019</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

<!--Header-->
<video autoplay muted loop id="myVideo">
  <source src="/images/april/virus.mp4" type="video/mp4">
</video>

<div class="aprilHeader full-height">
    <div class="April-header-larger">
        <div class="row">
            <div class="col s12 center">
                <h2 class="april-header">MLKCH Perinatal Department's</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s6 center">
                <img class="stayHome"
                    src="https://www.irishtimes.com/polopoly_fs/1.2810566.1476127882!/image/image.jpg_gen/derivatives/box_620_330/image.jpg">
            </div>
            <div class="col s6 center">
                <img class="stayHome"
                    src="https://ewscripps.brightspotcdn.com/dims4/default/8e0c829/2147483647/strip/true/crop/1280x672+0+144/resize/1200x630!/quality/90/?url=https%3A%2F%2Fewscripps.brightspotcdn.com%2Fa4%2F3f%2F692c92e24386bb52e5f252499bb7%2Fstay-at-home-order.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h2 class="april-header">April 2020 Newsletter</h2>
            </div>
        </div>
    </div>
</div>

<div class="section march-tammy-back full-height">
    <div class="row valign">
        <div class="col s12 center">
            <h2 class="march-tammy-title">What will be YOUR legacy?</h2>
        </div>
        <div class="col s12 center">
            <h2 class="tammy-feb-message">A Message From Your Perinatal Services Manager - Tammy Turner</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l4">
            <div class="row autoMid">
                <div class="col s12">
                    <img class="tammy-march" src="/images/tammy-turner.jpg">
                </div>
            </div>
            <div class="row autoMid">
                <div class="col s12">
                    <img class="tammy-march" src="/images/march/helping.jpg">
                </div>
            </div>
        </div>
        <div class="col s12 m12 l8">
            <div class="row">
                <div class="col s12">
                    <h4 class="tammy-march-text center">
                        In life, we all create footprints and memories of the things that we have created, experienced,
                        or done during our lifetime. Those foot prints and memories live far beyond our very own lives,
                        and it is how we will be remembered by those who had the opportunity to work with us, go through
                        life with us, and experience care by us. Now, for those who get to spend a lot of time with us,
                        they actually have more information to form their opinions about who we are and what we stand
                        for. But what about the patients that only spend a short moment in our lives, and yet they still
                        will have the opportunity to remember the experience that they shared with us whether good or
                        bad. Whether we believe it or not, we will be a part of a life story for them that many will
                        never forget. What do you want them to remember about you or about us? Will they even remember
                        you, or the things that you did for them? Will they remember you for being kind and
                        compassionate, and making them feel cared for, or will it be because we were rude and lacked
                        passion in the care that we provided. My hope is that it will be because they could truly see
                        the hope and kindness in everything we did for them while they were here.</h4>
                    <hr class="tammy-hr">
                    <h4 class="tammy-march-text center">
                        Today we have an amazing opportunity to leave a beautiful imprint on the lives of every patient
                        that we see and treat here at Martin Luther King Jr. Community Hospital, but how will they
                        remember us? Are you confident that they will? If not, today can be the beginning of creating a
                        new way of caring for our patients. See, we get to decide how we will be remembered by the care
                        that we provide to our patients and by the interactions we have with their loved ones. We get
                        the opportunity to show them that we really do care for them not just in words, but through each
                        and every moment, interaction, and touch that we provide. And when all is said and done, what
                        will be our lasting legacy for them? My hope is that they will be able to always look back and
                        know that we lived up to our vision and commitment to providing kind and compassionate care to
                        each of them.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section april-laborist full-height">
    <div class="row valign">
        <div class="col s12 center">
            <h2 class="march-tammy-title">Meet Your Laborist: Dr. Lurvey</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s1"></div>
        <div class="col s5">
            <img class="labor-img-april center" src="/images/april/dr lurvey.jpg">
        </div>
        <div class="col s6">
            <img class="labor-img-april center" src="/images/april/lurvey-patient.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h3 class="lurvey-text">
                I am a Los Angeles native who first worked in the MLK neighborhood during medical school when I did a
                rotation with Watts Health Foundation. I chose obstetrics and gynecology for the obstetrics part and the
                chance to share in the repeated miracle of childbirth.
                After many work adventures which included working in a large multi location mutispecialty group,
                starting a collaborative ob/gyn private practice with other doctors and midwives, and being the only Ob
                for an FQHC for over a decade I had the chance to return to the area and help start up MLKCH. It has
                been a privilege and an adventure to watch the hospital go from an idea to a real place where we are now
                seeing some return customers. I am especially tickled to watch how the unit has come together over time
                because we started all as strangers to each other.

                On a more personal note, I have been supported in my chosen work by my husband Jeff and two children,
                all of whom refuse to hear any work stories at the dinner table. I like cooking, camping, hiking and
                reading popular science. I look forward to our continued evolution in our care of women.
            </h3>
        </div>
    </div>
</div>

{{!-- MoD --}}

<div class="section danApril full-height">
    <div class="row valign">
        <div class="col s12">
            <h1 class="danBday">Celebrating Dr. Dan's Birthday</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <img class="danBdayPic center" src="/images/april/danBday2 (1).JPG">
        </div>
        <div class="col s4">
            <img class="danBdayPic center" src="/images/april/danCake.jpg">
        </div>
        <div class="col s4">
            <img class="danBdayPic center" src="/images/april/danBday3.JPG">
        </div>
    </div>
    {{!-- <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
            <img class="danBdayPic3 center" src="/images/april/danBday1.JPG">
        </div>
        <div class="col s1"></div>
    </div> --}}
</div>

<div class="section confBack full-height">
    <div class="row valign">
        <div class="col s12">
            <h1 class="confTitle">RNC Study Group lead by Ms. Tammy</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <img class="conferenceImage center" src="/images/april/conf1.jpg">
        </div>
        <div class="col s6">
            <img class="conferenceImage center" src="/images/april/conf2.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
            <h3 class="confText">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa vitae reiciendis amet
                saepe nam, dolorum
                ipsam quaerat sint officia ea rem enim praesentium, modi accusantium quisquam doloribus quae aliquid et
                alias laudantium provident ab explicabo facere! Assumenda, at nostrum. Consequatur quod perferendis quis
                quam, odio libero distinctio incidunt quos in ea voluptatum tenetur? Repudiandae quae tenetur inventore,
                possimus expedita saepe consectetur eius. Est quaerat ullam dolorem animi velit dignissimos obcaecati
                possimus et iusto rerum distinctio quibusdam sapiente, autem nostrum quasi hic odio quos nisi sint
                nesciunt. Voluptates fugiat vitae aperiam cumque non nesciunt quam temporibus sint nostrum cum, soluta
                esse alias ut quisquam obcaecati nam rerum ipsa voluptas quod distinctio ea eaque aliquid! Totam maiores
                nulla ad illum magni rem ipsum, ipsa dolore repudiandae natus, fuga esse molestias! Doloremque esse, nam
                possimus culpa rem ad excepturi, asperiores fugit adipisci, laudantium eius veniam qui ipsam eveniet
                dolor odit consequuntur quae tempore. Nam qui quas minima quidem cum? Hic magnam veniam laudantium animi
                laboriosam quidem eius, eum nemo rem! Sequi labore expedita deserunt ut nam quis molestiae incidunt
                nobis, fuga, quidem eum perferendis aut beatae dicta, mollitia facilis voluptatum possimus et corporis
                alias officia repellat sapiente necessitatibus. Quaerat eum enim necessitatibus iusto!</h3>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="row">
        <div class="col s6">
            <img class="conferenceImage center" src="/images/april/conf3.jpg">
        </div>
        <div class="col s6">
            <img class="conferenceImage center" src="/images/april/conf4.jpg">
        </div>
    </div>
</div>


<div class="section confBack1 full-height">
    <div class="row valign">
        <div class="col s12">
            <h1 class="confTitle">Lecture with Dr. Grace</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <div class="row">
                <div class="col s12">
                    <img class="classPicture center" src="/images/april/class.jpg">
                </div>
                <div class="col s12">
                    <img class="classPicture center" src="/images/april/class1.jpg">
                </div>
            </div>
        </div>
        <div class="col s4">
            <h3 class="classText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis perferendis incidunt
                voluptatem porro distinctio omnis similique facilis illo earum nam consequuntur quis recusandae
                voluptatum, laborum, a aspernatur ipsam. Aperiam, repudiandae consectetur rerum debitis ducimus alias?
                Dolorem, recusandae aspernatur aut incidunt eum error iusto amet deleniti odio quam, quos minus earum
                molestias cumque saepe veritatis doloribus culpa suscipit voluptas non. Dolorum sit quas rem nostrum
                cupiditate in eligendi sequi id iste quae! </h3>
        </div>
        <div class="col s4">
            <div class="row">
                <div class="col s12">
                    <img class="classPicture center" src="/images/april/class2.jpg">
                </div>
                <div class="col s12">
                    <img class="classPicture center" src="/images/april/class3.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section confBack2 full-height">
    <div class="row valign">
        <div class="col s12">
            <h1 class="confTitle">Drills on Crash and Shoulder Dystocia </h1>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <img class="workClinic center" src="/images/april/work1.jpg">
        </div>
        <div class="col s4">
            <img class="workClinic center" src="/images/april/work2.jpg">
        </div>
        <div class="col s4">
            <img class="workClinic center" src="/images/april/work3.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <img class="workClinic center" src="/images/april/work4.jpg">
        </div>
        <div class="col s6">
            <img class="workClinic center" src="/images/april/work4.jpg">
        </div>
    </div>
    <div class="row">
        <h2 class="workClinicText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sapiente maxime itaque tempore obcaecati
            ipsa, quae maiores provident. Omnis quae sapiente animi et sunt odit dolorum totam distinctio facere laborum
            vel placeat id eius quasi numquam ex quaerat debitis, nihil, perspiciatis temporibus, ut quo suscipit
            repellendus. Rem ea quia rerum, nesciunt quibusdam dolor tempora maxime cumque architecto veritatis, dicta
            animi fugit itaque. Nam vel ducimus totam aliquam quisquam inventore sequi ipsam eos! At expedita
            repellendus fuga sit quo quisquam voluptas necessitatibus eveniet repudiandae quod, aperiam molestiae
            quaerat eligendi sequi minima harum corporis est cupiditate possimus exercitationem. Asperiores, earum ex?
            Debitis itaque consequuntur error quam fuga omnis commodi.
        </h2>
    </div>
    <div class="row">
        <div class="col s12">
            <video class="workVideo center" autoplay muted loop controls src="/images/april/workVideo.mp4"></video>
        </div>
    </div>
</div>

<div class="section hawaiiVacation full-height">
    <div class="row valign">
        <div class="col s12">
            <h1 class="confTitle">Hawaiian Vacation</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s1"></div>
        <div class="col s5">
            <img class="vacationPicture center" src="/images/april/hawaiivVacation.JPG">
        </div>
        <div class="col s5">
            <img class="vacationPicture center" src="/images/april/image.png">
        </div>
        <div class="col s1"></div>

    </div>
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
            <h3 class="hawaiiText">What better way to celebrate finishing nursing school with my son, then to take a
                trip to Oahu Hawaii. Although, it was cloudy and rainy the whole week we were there, that still didn’t
                stop us from enjoying some of the touristy adventures. Our adventures included just a drop of what Oahu
                had to offer visitors. We went on a 4 hour guided Kailua Bay kayaking trip, a short hike to the Manoa
                Falls (tour guide taught a lot of historical facts), $2 round trip bus ride to the local zoo and
                aquarium and even an Atlantis submarine trip. Note to self, not every place can accommodate a vegan diet.
                Southern California spoils us vegans.</h3>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="row">
        <div class="col s6">
            <img class="vacationPicture center" src="/images/april/IMG_8769.JPG">
        </div>
        <div class="col s6">
            <img class="vacationPicture center" src="/images/april/IMG_8766.JPG">
        </div>
    </div>
    <div class="row">
        <div class="col s1"></div>
                 <div class="col s10">
            <img class="vacationPicture center" src="/images/april/IMG_8767.JPG">
        </div>
        <div class="col s1"></div>

    </div>
</div>


{{!-- Birthday --}}
<div class="section feb-birthday full-height">
    <div class="row valign">
        <div class="col s1"></div>
        <div class="col s10 center">
            <h2 class="JingleTitle marchbday">Celebrating our Perinatal April Birthdays</h2>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="row">
        <div class="col s2"></div>
        <div class="col s4">
            <h2 class="JingleTitle marchbday">Ana B.</h2>
        </div>
        <div class="col s4">
            <h2 class="JingleTitle marchbday">Asaiah</h2>
        </div>
        <div class="col s2"></div>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <h2 class="JingleTitle marchbday">Rachel</h2>
        </div>
        <div class="col s4"></div>

    </div>
    <div class="row">
        <div class="col s12">
            <img src="/images/february/cake-gif.gif" alt="cake-gif" class="cake-feb">
        </div>
    </div>
</div>

<div class="section pet-april-back full-height">
    <div class="row valign">
        <div class="col s1"></div>
        <div class="col s10 center">
            <h2 class="JingleTitle marchbday">Pet Shout Out: Clarissa the Hen</h2>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="row">
        <div class="col s6">
            <video src="/images/april/chicken.mp4" class="hen-april" autoplay muted loop controls></video>
        </div>
        <div class="col s6">
            <h3 class="chicken-text">
                I am so thankful for my hen, Clarissa, because she always gives me eggs. She is always protecting her little chicks and she also sometimes wakes me. She lets me hold her sometimes when she's having a good day. Thank you, Clarissa. 
            </h3>
        </div>
    </div>
</div>

<div class="section confBack2 full-height">
    <div class="row valign">
        <div class="col s6 center">
            <h2 class="JingleTitle april-banner">Homemade Masks by Tammy Vuitton</h2>
        </div>
        <div class="col s6 center">
            <h2 class="JingleTitle april-banner">Perinatal Dept's Dance Moves</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
           <img class="fun-april center" src="/images/april/fun.jpg">
        </div>
        <div class="col s6">
           <video class="fun-april center" src="/images/april/dance.mp4" autoplay loop controls muted></video>
        </div>
    </div>
</div>


{{!-- Calendar --}}
<div class="march-calendar full-height">
    <div class="container">
        <div class="row">
            <div class="decemberHeader center">
                <h1 class="march-Title">April 2020 Calendar</h1>
            </div>
        </div>
        <div class="row">
            <div class="weekday">
                <h4 class="weekdayMessage">Sunday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Monday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Tuesday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Wednesday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Thursday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Friday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Saturday</h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">1</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">2</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">3</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">4</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">5</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">6</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">7</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">8</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">9</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">10</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">11</h5>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">12</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">13</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">14</h5>
                <h4 class="dateMessage"></h4>

            </div>
            <div class="tableRow">
                <h5 class="dayNumber">15</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">16</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">17</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">18</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">19</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">20</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">21</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">22</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">23</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">24</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">25</h5>

            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">26</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">27</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">28</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">29</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">30</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <h1 class="april-next center">Stay Tuned for Our May Newsletter. Stay Home and Stay Safe!</h1>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>

<!-- External libraries -->
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/ScrollMagic.min.js"></script>
<script src="/js/animation.gsap.min.js"></script>

<!-- Initialization script -->
<script src="/js/startup.js"></script>
<script src="/js/init.js"></script>
<script src="/js/page.js"></script>