<nav class="navbar navbar-solid-transition">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MLKCH Perinatal Department Newsletter</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a class="dropdown-trigger" href="#!" data-target="pages">Previous Newsletters<i
                        class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <ul id="pages" class="dropdown-content">
            <li><a href="/">February 2020</a></li>
            <li><a href="/january">January 2020</a></li>
            <li><a href="/december">December 2019</a></li>
        </ul>

        <a href="/" data-target="slide-out" class="sidenav-trigger button-collapse right"><i
                class="material-icons white-text">menu</i></a>
    </div>
</nav>
<ul id="slide-out" class="sidenav">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-teal active">Previous Newsletters</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/">February 2020</a></li>
                        <li><a href="/january">January 2020</a></li>
                        <li><a href="/december">December 2019</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

<div class="FebruaryHeader full-height">
    <div class="february-header-larger">
        <div class="row">
            <div class="col s4">
                <img src="/images/february/logo.png" alt="logo" class="february-top-image">
            </div>
            <div class="col s4">
                <img src="/images/february/heart-wave.jpg" alt="logo" class="february-top-image stretch">
            </div>
            <div class="col s4">
                <img src="/images/february/logo.png" alt="logo" class="february-top-image">
            </div>
        </div>
        <div class="row">
            <div class="col s9 center">
                <h2 class="february-header">MLKCH Perinatal Department's</h2>
            </div>
            <div class="col s3">
                <video class="february-top-video" autoplay muted loop src="/images/february/cat-love.mp4"></video>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h2 class="february-header">February 2020 Newsletter</h2>
            </div>
        </div>
    </div>
</div>


<div class="section black full-height">
    <div class="row valign">
        <div class="col s12 center">
            <h2 class="february-midwife-title">February MidWife</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="row autoMid">
                <div class="col s12 fade-in-out">
                    <img class="tammy" src="/images/tammy-turner.jpg">
                    <h1 class="titles">Tammy M. Turner, MA, BSN, RNC- Inpt OB &amp; MNN</h1>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="row">
                <div class="col s12">
                    <h4 class="february-midwife-text">
                        My journey and passion to become a Nurse-Midwife started after the birth of my daughter Rosey,
                        who is now 25 years old. I was fortunate to have a beautiful birth experience with a
                        Nurse-Midwife who inspired me. I spent 11 years working a Labor and Delivery Nurse. I am so
                        proud of having this background experience in my career. I have been a Nurse-Midwife for 9+
                        years working within various Obstetric/Midwifery models of care.
                        I am passionate and intentional about caring for the women and their families by providing them
                        with their options, led by evidence based care. I respect a woman’s choice to make her own
                        decisions and enjoy partnering in the decision making process to help facilitate the safest,
                        ethical care.
                        I moved from Minnesota in July, 2019 specifically to work at Martin Luther King Hospital. I
                        enjoy working with the compassionate nursing staff and supportive physician staff , allowing for
                        a safe, collegial environment to practice as a Nurse-Midwife. MLKCH is a special place and it is
                        an honor to work with other’s who share the same passion to provide exceptional Obstetric care.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="february-calendar full-height">
    <div class="container">
        <div class="row">
            <div class="decemberHeader center">
                <h1 class="february-Title">February 2020</h1>
            </div>
        </div>
        <div class="row">
            <div class="weekday">
                <h4 class="weekdayMessage">Sunday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Monday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Tuesday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Wednesday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Thursday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Friday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Saturday</h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
            </div>
            <div class="tableRow">
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">1</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">2</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">3</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">4</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">5</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">6</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">7</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">8</h5>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">9</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">10</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">11</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">12</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">13</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">14</h5>
                <h4 class="dateMessage">Happy Valentines Day!</h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">15</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">16</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">17</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">18</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">19</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">20</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">21</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">22</h5>

            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">23</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">24</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">25</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">26</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">27</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">28</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">29</h5>
                <h4 class="dateMessage">Leap Year</h4>
            </div>
        </div>
        <div class="row">
            <h1 class="february-next center">Stay Tuned for Our <span class="march">March</span> Newsletter</h1>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>

<!-- External libraries -->
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/ScrollMagic.min.js"></script>
<script src="/js/animation.gsap.min.js"></script>

<!-- Initialization script -->
<script src="/js/startup.js"></script>
<script src="/js/init.js"></script>
<script src="/js/page.js"></script>