<nav class="navbar navbar-solid-transition">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MLKCH Perinatal Department Newsletter</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a class="dropdown-trigger" href="#!" data-target="pages">Previous Newsletters<i
                        class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <ul id="pages" class="dropdown-content">
            <li><a href="/">February 2020</a></li>
            <li><a href="/january">January 2020</a></li>
            <li><a href="/december">December 2019</a></li>
        </ul>

        <a href="/" data-target="slide-out" class="sidenav-trigger button-collapse right"><i
                class="material-icons white-text">menu</i></a>
    </div>
</nav>
<ul id="slide-out" class="sidenav">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-teal active">Previous Newsletters</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/">February 2020</a></li>
                        <li><a href="/january">January 2020</a></li>
                        <li><a href="/december">December 2019</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

<div class="FebruaryHeader full-height">
    <div class="february-header-larger">
        <div class="row">
            <div class="col s4">
                <img src="/images/february/logo.png" alt="logo" class="february-top-image">
            </div>
            <div class="col s4">
                <img src="/images/february/heart-wave.jpg" alt="logo" class="february-top-image stretch">
            </div>
            <div class="col s4">
                <img src="/images/february/logo.png" alt="logo" class="february-top-image">
            </div>
        </div>
        <div class="row">
            <div class="col s9 center">
                <h2 class="february-header">MLKCH Perinatal Department's</h2>
            </div>
            <div class="col s3">
                <video class="february-top-video" autoplay muted loop src="/images/february/cat-love.mp4"></video>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h2 class="february-header">February 2020 Newsletter</h2>
            </div>
        </div>
    </div>
</div>

<div class="section feb-tammy-back full-height">
    <div class="row valign">
        <div class="col s12 center">
            <h2 class="february-tammy-title">Why Are YOU Here?</span></h2>
        </div>
        <div class="col s12 center">
            <h2 class="tammy-feb-message">A Message From Your Perinatal Services Manager - Tammy Turner</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="row autoMid">
                <div class="col s12">
                    <img class="tammy-feb" src="/images/tammy-turner.jpg">
                </div>
            </div>
        </div>
        <div class="col s12 m8">
            <div class="row">
                <div class="col s12">
                    <h4 class="tammy-feb-text center">
                        Why did you choose Martin Luther King Jr. Community Hospital? Why do you want to work with this
                        patient population? If it is for any reason other than your desire to help decrease health care
                        disparities and improve the lives of the South Los Angeles community, we ask that you take the
                        time to discover the many things that make this is a great place to work and that the work that
                        we are doing is so worthwhile! In order to do the work we need to do, it will take an unwavering
                        and uncompromising committee from each of you. </h4>
                    <hr class="tammy-hr">
                    <h4 class="tammy-feb-text center">
                        On 1/17/2020, I had the opportunity to
                        attend the Dream Luncheon and it was so inspiring. After the closing of the old hospital in
                        2007, many had a dream of building and opening a new hospital that could provide quality care to
                        the South Los Angeles Community. That dream came true in 2015 with the opening of the new
                        hospital. But that was just the beginning. As I look around today and take everything in, I am
                        so honored to be a part of this amazing organization and to have the opportunity to serve this
                        community.
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4 class="tammy-feb-text bottom-text-feb center">
                My goals and values line up with those of the hospital, which is to provide the very
                best high quality care to this undeserved community every day without compromise. I understand
                the commitment that it will take, and I am up for the challenge. Can you say the same? We all
                have an amazing opportunity to be a part of the rewriting of the story that will be told about
                this community and this hospital, don’t you want to be a part of its success? If the answer is
                yes, we asked that you make every patient encounter count. Learn to pour your heart and soul
                into the patients that you care for; you never know the impact that you can have on the life of
                a patient.
                Our community deserves our very best every time. The community in South Los Angeles deserves to
                receive kind and compassionate care that will help them live their best life now and always. It
                can become very easy to lose sight of our goal, but we ask that you recommit to living the dream
                to make this place the best place to work and the best place to receive care!
                We hope that you join us in committing to excellence in this new year and decade!
                Keep the dream alive!
            </h4>
        </div>
    </div>
</div>


<div class="section feb-midwife-back full-height">
    <div class="row valign">
        <div class="col s12 center">
            <h2 class="february-midwife-title teresa-feb">Meet Your Mid Wife: Teresa Jarvis</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="row autoMid">
                <div class="col s12">
                    <img class="teresa-midwife-picture" src="/images/february/teresaMidWifeFeb.JPG">
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="row">
                <div class="col s12">
                    <h4 class="february-midwife-text">
                        My journey and passion to become a Nurse-Midwife started after the birth of my daughter Rosey,
                        who is now 25 years old. I was fortunate to have a beautiful birth experience with a
                        Nurse-Midwife who inspired me. I spent 11 years working a Labor and Delivery Nurse. I am so
                        proud of having this background experience in my career. I have been a Nurse-Midwife for 9+
                        years working within various Obstetric/Midwifery models of care.
                    </h4>
                    <hr>
                    <h4 class="february-midwife-text">
                        I am passionate and intentional about caring for the women and their families by providing them
                        with their options, led by evidence based care. I respect a woman’s choice to make her own
                        decisions and enjoy partnering in the decision making process to help facilitate the safest,
                        ethical care.
                    </h4>
                    <hr>
                    <h4 class="february-midwife-text">
                        I moved from Minnesota in July, 2019 specifically to work at Martin Luther King Hospital. I
                        enjoy working with the compassionate nursing staff and supportive physician staff , allowing for
                        a safe, collegial environment to practice as a Nurse-Midwife. MLKCH is a special place and it is
                        an honor to work with other’s who share the same passion to provide exceptional Obstetric care.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section academy-back-feb full-height">
    <div class="row valign">
        <div class="col s1"></div>
        <div class="col s10 center">
            <h2 class="academyTitle">Completing the CMQCC QI Academy</h2>
        </div>
        <div class="col s1"></div>

    </div>
    <div class="row">
        <div class="col s12">
            <img src="/images/february/certFeb.PNG" alt="certificate" class="febPictureCert">
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <img src="/images/february/partyFeb.jpg" alt="celebration" class="febPictureParty">
        </div>
        <div class="col s4">
            <img src="/images/february/partyFeb1.jpg" alt="celebration" class="febPictureParty">
        </div>
        <div class="col s4">
            <img src="/images/february/partyFeb2.jpg" alt="celebration" class="febPictureParty">
        </div>
    </div>
</div>

<div class="section jingle-mingle full-height">
    <div class="row valign">
        <div class="col s1"></div>
        <div class="col s10 center">
            <h2 class="JingleTitle">Perinatal Department's Jingle Mingle</h2>
        </div>
        <div class="col s1"></div>

    </div>
    <div class="row">
        <div class="col s12">
            <video class="jingleVideo" autoplay muted loop controls src="/images/february/holidayParty.MOV"></video>
        </div>
    </div>
</div>

<div class="section march-of-dimes full-height">
    <div class="row valign">
        <div class="col s1"></div>
        <div class="col s10 center">
            <h2 class="JingleTitle">The MLKCH Perinatal Service Supports March for Babies</h2>
        </div>
        <div class="col s1"></div>

    </div>
    <div class="row">
        <div class="col s4">
            <img src="/images/february/marchOfDimes.PNG" alt="marchOfDimes" class="marchPicture">
        </div>
        <div class="col s8">
            <h2 class="dimeTextSub">Our team stands with March of Dimes to fight for the health of all moms and babies.
                Families in our communities and across the country are touched by the fundraising we do, and we won’t
                stop
                until we reach our goal of building a better future for us all. We’re proud to help provide resources
                and programs to educate and empower moms so every baby can have the best possible start. But we need you
                on our team. Together we can encourage more friends, family and supporters to join us to raise critical
                funds to tackle the biggest health threats facing moms and babies.</h2>
            <img src="/images/february/MOD.png" alt="marchofdimeslogo" class="modLogo">
            <h3 class="dimeTextSubA"><a
                    href="https://www.marchforbabies.org/Fundraising/Team?teamId=1414580&teamEventId=2943699&"
                    target="_blank">Support our March of Dimes Campaign Here</a></h3>
        </div>
    </div>
</div>

<div class="section achievement-feb-back full-height">
    <div class="row valign">
        <div class="col s1"></div>
        <div class="col s10 center">
            <h2 class="JingleTitle">Group Achievement</h2>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="row">
        <div class="col s12">
            <img src="/images/february/allCongrats.PNG" alt="hospitalcertificate" class="achievement-feb">
        </div>
    </div>
</div>

<div class="section cat-feb-back full-height">
    <div class="row valign">
        <div class="col s2"></div>
        <div class="col s8 center">
            <h2 class="JingleTitle">Pet Shout Out: Toffee the Cat</h2>
        </div>
        <div class="col s2"></div>
    </div>
    <div class="row">
        <div class="col s5">
            <video class="toffeeFeb" autoplay loop muted src="/images/february/toffeFeb.mov"></video>
        </div>
        <div class="col s7">
            <div class="row">
                <div class="col s6">
                    <img src="/images/february/toffePic1.jpg" alt="ToffeeAndSuzanne" class="toffeeFebPic">
                </div>
                <div class="col s6">
                    <img src="/images/february/toffeePic2.jpg" alt="ToffeeAndSuzanne" class="toffeeFebPic">
                </div>
            </div>
            <div class="row">
                <h4 class="toffeeText">Hello! My name is Toffee. I'm a 6 month old domestic short-haired cat. My family
                    loves me even though I like to bite their toes and scratch the furniture. Suzanne is my best friend,
                    she gives me treats and I like to sleep beside her. I don't like to go on walks and will probably
                    never leave the house aside from my check-ups, so the only way you'll see me is through pictures,
                    which Suzanne has hundreds of me. On the rare chance you do see me, I like treats, more than the Fancy Feast they serve me for dinner, so share some with me!</h4>
            </div>
        </div>
    </div>
</div>


<div class="february-calendar full-height">
    <div class="container">
        <div class="row">
            <div class="decemberHeader center">
                <h1 class="february-Title">February 2020</h1>
            </div>
        </div>
        <div class="row">
            <div class="weekday">
                <h4 class="weekdayMessage">Sunday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Monday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Tuesday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Wednesday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Thursday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Friday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Saturday</h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
            </div>
            <div class="tableRow">
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">1</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">2</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">3</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">4</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">5</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">6</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">7</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">8</h5>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">9</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">10</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">11</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">12</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">13</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">14</h5>
                <h4 class="dateMessage">Happy Valentines Day!</h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">15</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">16</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">17</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">18</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">19</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">20</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">21</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">22</h5>

            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">23</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">24</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">25</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">26</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">27</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">28</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">29</h5>
                <h4 class="dateMessage">Leap Year</h4>
            </div>
        </div>
        <div class="row">
            <h1 class="february-next center">Stay Tuned for Our <span class="march">March</span> Newsletter</h1>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>

<!-- External libraries -->
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/ScrollMagic.min.js"></script>
<script src="/js/animation.gsap.min.js"></script>

<!-- Initialization script -->
<script src="/js/startup.js"></script>
<script src="/js/init.js"></script>
<script src="/js/page.js"></script>