<!-- Navbar -->
<nav class="navbar navbar-solid-transition">
  <div class="nav-wrapper">
    <a href="horizontal-half.html" class="brand-logo"><i class="icon-diamond"></i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="active"><a class="dropdown-trigger" href="#!" data-target="pages">Pages<i
            class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

    <ul id="pages" class="dropdown-content">
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>

    <a href="#" data-target="slide-out" class="sidenav-trigger button-collapse right"><i
        class="material-icons white-text">menu</i></a>
  </div>
</nav>
<ul id="slide-out" class="sidenav">
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-teal active">Pages</a>
        <div class="collapsible-body">
          <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
</ul>
<div class="section header">
  <div class="fallingSnow">
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </div>
  <div class="header-wrapper row valign-wrapper rotate">
    <div class="col s12 header1">
      <h1 class="textHeader">Perinatal Services December Newsletter</h1>
      <span class="tagline">Happy Holidays</span>
      <button class="read-more"><i class="icon-caret-down"></i></button>
    </div>
  </div>
</div>

<div class="section background1 full-height">
  <div class="row valign">
    <div class="col s12 m10 offset-m1">
      <div class="row center">
        <div class="col s12">
          <h2 class="Manager">A Word From Our Perinatal Services Manager</h2>
        </div>
      </div>
      <div class="row staggered-transition-wrapper" data-duration="0" data-staggereddelay=".9">
        <div class="col s12 m6 l6 fade-in-out">
          <img class="tammy" src="/images/tammy-turner.jpg">
        </div>
        <div class="col s12 m6 6 fade-in-out center">
          <div class="row">
            <div class="col s12 fade-in-out">
              <h1 class="titles">Tammy M. Turner, MA, BSN, RNC- Inpt OB &amp; MNN</h1>
            </div>
          </div>
          <div class="row">
            <div class="col s12 fade-in-out">
              <h4><i class="medium material-icons">message</i></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section date full-height">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>

<div class="section christmas full-height">
  <div class="row blacktext">
    <div class="col s12 m10 offset-m1 center">
      <h1>Meet your Perinatal Services Leadership Team</h1>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image waves-effect waves-block waves-light frame">
              <img class="activator circle this" src="">
            </div>
            <div class="card-content">
              <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name">Dr. Emilio Chavira - Chair, Perinatal Services</h1>
            </div>
            <div class="card-reveal" id="style-3">
              <span class="card-title grey-text text-darken-4">About Dr. Chavira<i
                  class="material-icons right">close</i></span>
              <p class="textCard"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image waves-effect waves-block waves-light rectangle">
              <img class="activator circle this" src="/images/tammy-turner.jpg"> </div>
            <div class="card-content">
              <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name">Tammy Turner - Perinatal Services</h1>
            </div>
            <div class="card-reveal" id="style-3">
              <span class="card-title grey-text text-darken-4">About Tammy<i
                  class="material-icons right">close</i></span>
              <p class="textCard"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m6 l6">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image waves-effect waves-block waves-light ball">
              <img class="activator circle this" src="http://placehold.it/600x400">
            </div>
            <div class="card-content">
              <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name">Kirsty Chartier, RN - CUS Day</h1>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Kirsty Chartier<i
                  class="material-icons right">close</i></span>
              <p class="textCard"></p>
            </div>
          </div>
        </div>
        <div class="col s6 m6 l6">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image waves-effect waves-block waves-light ball">
              <img class="activator circle this" src="/images/gina.jpeg">
            </div>
            <div class="card-content">
              <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name">Gina Paz, RN - CUS Days</h1>
            </div>
            <div class="card-reveal" id="style-3">
              <span class="card-title grey-text text-darken-4">About Gina<i
                  class="material-icons right">close</i></span>
              <p class="textCard">I’ve been married for 24 years with 3 beautiful children, one of them with special
                needs. I was a stay at home mom for 8 years and decided to become an RN. Worked at my last hospital for
                5 years then applied at MLK before they opened and was part of the licensing team. Opportunity for
                growth at MLK was so abundant that I decided to be a clinical unit supervisor, then was offered the
                chance to be manager. My unyielding dedication for our department and hours spent days and nights took a
                toll on my family. After a year I decided to step down and take care of what was more
                important…….family. The experience and knowledge I received assisted me in my role as Clinical Unit
                Supervisor.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6 m6 l6">
            <div class="card fade-in-out up-in-out" data-duration="0">
              <div class="card-image waves-effect waves-block waves-light ballNight">
                <img class="activator circle this" src="http://placehold.it/600x400">
              </div>
              <div class="card-content">
                <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
                <h1 class="name">Donna Nolan, RN CUS Nights</h1>
              </div>
              <div class="card-reveal" id="style-3">
                <span class="card-title grey-text text-darken-4">Donna Nolan<i
                    class="material-icons right">close</i></span>
                <p class="textCard"></p>
              </div>
            </div>
          </div>
          <div class="col s6 m6 l6">
            <div class="card fade-in-out up-in-out" data-duration="0">
              <div class="card-image waves-effect waves-block waves-light ballNight">
                <img class="activator circle this" src="/images/nancy graham.png">
              </div>
              <div class="card-content">
                <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
                <h1 class="name">Nancy Graham, RN- CUS Nights</h1>
              </div>
              <div class="card-reveal" id="style-3">
                <span class="card-title grey-text text-darken-4">About Nancy<i
                    class="material-icons right">close</i></span>
                <p class="textCard">Since I was a child I knew I wanted to be a nurse. When I started my nursing
                  education, I felt in love with Labor and Delivery from the beginning but I did one year of med- surg
                  as I was advice by my OB instructor in College. I have being a nurse for 32 years and I worked in
                  different hospitals with different cultures. Being part of the leadership team has really taught me
                  that you need to have kindness and compassion with the people you work to be able to succeed as a
                  leader. I love my role because I’m able to share my knowledge and help my team to provide the best
                  care for our patients. Being in this position has a lot of challenges but I take every challenge as a
                  way to learn and growth as a nurse. Every day before I came to work I pray for wisdom, kindness and
                  compassion so I can perform in the best of my abilities for my coworkers and clients.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card fade-in-out up-in-out" data-duration="0">
              <div class="card-image waves-effect waves-block waves-light silver">
                <img class="activator circle this" src="/images/suzanne morales.jpg">
              </div>
              <div class="card-content">
                <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
                <h1 class="name">Suzanne Morales, MSN-Ed, RN - Perinatal Educator</h1>
              </div>
              <div class="card-reveal" id="style-3">
                <span class="card-title grey-text text-darken-4">About Suzanne<i
                    class="material-icons right">close</i></span>
                <p class="textCard">I joined MLKCH in April of 2015. My passion has been teaching as well a bedside
                  nursing related to Maternal and Child health.
                  In my 14 years as an RN/LD here in the United States, and before that, my more thn 10 years as
                  practicing in Midwifery back in the Philippines, I have
                  come to the realization that what makes me fulfilled as a professional, is being able to mold students
                  and mentees to become the best professionals that they
                  have become. Teaching enables you to do that. From the rough beginning of the student's lives, they
                  have graduated to become gems in their professions, and I have been
                  fortunate enough to see them blossom first hand because I have worked with most of them. My proudest
                  moments as an educator is when I see them succeed knowing that I have contributed part to that
                  journey.
                </p>
                <p class="textCard">Likewise, as a practicing nurse in LD unit, it also comes with immeasurable reward,
                  when you can be part of the miracle of life and be during all the emotions
                  that goes with it. Sometimes, there will be sad moments when we encounter fetal demise or maternal
                  death, but just the same, I too become a part of those emotional roller coaster that
                  the families need to endure and knowing tthat i have been instrumental in making it more bearable for
                  them, is also privilege.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section light full-height">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <div class="perspective-wrapper">
          <div class="feature rotate-y-in-out fade-in-out left-transform-origin">
            <h3>Getting to Know</h3>
          </div>
        </div>
      </div>
      <div class="col m12 center">
        <div class="perspective-wrapper">
          <div class="feature rotate-y-in-out fade-in-out left-transform-origin">
            <h3>Dr. Emiliano Chavira, PS Chair</h3>
            <h1 class="input">Needs more input</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section redback cnm">
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s12 center">
        <div class="staggered-transition-wrapper">
          <div class="feature left-in-out fade-in-out">
            <h1>CNM Profile</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <img class="angela" src="/images/angela sojobi.jpg">
      </div>
      <div class="col s12 m8">
        <div class="row">
          <div class="col s12">
            <h2 class="angelaHeader">Angela Sojobi, RN, BSN, MSN, DNP</h2>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p class="cnmText">When asked how many babies she has delivered, Angele Sojobi laughs. <span
                class="pink-text text-darken-2">"I stopped counting at 5,000 and that was 10 years ago,"</span> she
              says.
              Born in Nigeria, Angela graduated from high school at the age of 15 and then went on to nursing school.
            </p>
            <p class="cnmText"><span class="pink-text text-darken-2">"I like helping to make the most important thing a
                woman does in her life easier and happier for her."</span> She moved to the United States at age 24
              and became a reigstered nurse and midwife. She joined the staff at Martin Luther King, Jr. Community
              Hospital in the fall of 2015. Since then, her warm smile and gentle coaching
              have guided many new mothers through childbirth.</p>
            <p class="cnmText">Angela and the other midwivs at the hospital stay with their patient all the way through
              labor and delivery. <span class="pink-text text-darken-2">"We hold their hands,"</span> Angela says. <span
                class="quote">
                "We even help with breastfeeding after the baby is born. We also talk to the family and comfort them and
                teach them during the experience."</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 center">
        <div class="row">
          <div class="col s12">
            <h4>Wondering whalt all those letters are after Angela's name? They repreent her nursing credentials.</h4>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul>
              <li class="credentials center">RN stands for Registered Nurse</li>
              <li class="credentials center">BSN means she earned her Bachelor's Degree in Nursing</li>
              <li class="credentials center">MSN means she earned her Master's Degree in Nursing</li>
              <li class="credentials center">DNP stands for "Doctor of Nursing Practice"</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m6 center">
        <h3>All of the letters together mean Angela is a very smart and educated professional. We're glad she's part of
          our perinatal team.</h3>
      </div>
    </div>
  </div>
</div>
</div>


<div class="section light full-height">
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s12 m4 center">
        <div class="staggered-transition-wrapper">
          <div class="feature fade-right-in-out">
            <h3>Kudos Corner</h3>
            <h1 class="input">Needs more input</h1>
          </div>
          <div class="feature fade-right-in-out">
            <h3>Daisy Award Winner</h3>
            <h1 class="input">Needs more input</h1>
          </div>
        </div>
      </div>
      <div class="col s12 m8 center">
        <!--Content-->
        <h1>Photo</h1>
      </div>
    </div>
  </div>
</div>


<div class="section gradient full-height">
  <div class="container">
    <div class="row valign-wrapper fade-right-in-out">
      <div class="col s12 center">
        <h1>Back to School</h1>
      </div>
    </div>
    <div class="row fade-right-in-out">
      <div class="col s12 m4">
        <div class="row">
          <div class="col s12 m12">
            <img class="backSchool responsive-img" src="/images/cindy martinez.jpg">
          </div>
        </div>
        <div class="col s12 m12 center">
          <div class="row">
            <div class="col s12">
              <h3>Cindy Martinez</h3>
            </div>
            <div class="col s12">
              <h4 class="schoolDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatum
                aspernatur dolor corporis deleniti, et facilis illum, magni aliquam tempora atque debitis reiciendis
                perferendis cum vero. Fuga maxime obcaecati doloribus.</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="row">
          <div class="col s12 m12">
            <img class="backSchool responsive-img" src="/images/cindy martinez.jpg">
          </div>
        </div>
        <div class="col s12 m12 center">
          <div class="row">
            <div class="col s12">
              <h3>Allene Moore</h3>
            </div>
            <div class="col s12">
              <h4 class="schoolDescription">
                Thinking of going to nursing school in your 30’s? Well, the first tip to provide is that it is
                absolutely possible. 12 years had lapsed since I had received my BS in Psychology. Along with going
                through a divorce and having a child. So, the thought of going back to school was not forefront of my
                mind. Being a unit secretary in hospitals, has given me the opportunity to witness firsthand the
                professionalism, courtesy and moral integrity that nurses display. Through the encouragement of my
                family, co-workers and motivation of my child, I began to take my perquisites classes at a local
                community college. Once I had completed the academic requirements for the nursing program, I was
                persuaded to apply to Charles R. Drew University of Medicine and Science by a fellow co-worker. December
                2019 I will be graduating with my Master’s of Science in Nursing (MSN). I am overjoyed to take the next
                steps in providing my skillsets to my hometown community at Martin Luther King, Jr. Community Hospital.
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="row">
          <div class="col s12 m12">
            <img class="backSchool responsive-img" src="/images/porsha gray.jpg">
          </div>
        </div>
        <div class="col s12 m12 center">
          <div class="row">
            <div class="col s12">
              <h3>Porsha Gray</h3>
            </div>
            <div class="col s12">
              <h4 class="schoolDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatum
                aspernatur dolor corporis deleniti, et facilis illum, magni aliquam tempora atque debitis reiciendis
                perferendis cum vero. Fuga maxime obcaecati doloribus.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section light full-height">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 center">
        <div class="feature">
          <h1>Our Breastfeeding Task Force </h1>
          <h4 class="center">MLKCH is dedicated to supporting and promoting breastfeeding as the normal infant feeding
            method. We encourage families to educate themselves about breastfeeding prior to delivery, and are available
            to help with not only the first latch after delivery, but continued support throughout their hospital stay.
            Educating families on topics like newborn tummy size, benefits of skin to skin, hand expression of
            breastmilk, proper latch and various positions, as well as other breastfeeding related topics can help
            families get off to a good start with breastfeeding.</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="row">
          <div class="col s12">
            <h4 class="center">MLKCH Offers</h4>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <h4>Free Mommy Group: every 1st and 3rd Thursday of the month 10am-11:20am</h4>
            <h4>Prenatal Education Class, “Your First 48”: Last Tuesday every month 10am-11am (English), 11am-12pm (Spanish)</h4>
            <h4>MLK Birth Equity Project: 1st Tuesday every month, 9am-10am</h4>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="row">
          <div class="col s12">
            <h4 class="center">MLKCH Participation/Collaboration</h4>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
           <h4> CMQCC QI Project-Breastfeeding: First Thursday every month 12pm-1:30pm</h4>
            <h4>CMQCC Birth Equity Project- 2nd Wednesday every month 12pm</h4>
            <h4>OB Coordination Meeting with MLK Outpatient Clinic: 1st Wednesday every month 12pm-1:30pm</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section black full-height">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 center">
        <div class="feature">
          <h3>From Your Educators Note</h3>
          <p>Needs Input</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Us -->
<div class="section howieBack full-height">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 center">
        <div class="feature">
          <h1>Pets Shout Out</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s4 m4 l4 howie1">
        <img src="/images/howiebeach.jpeg" class="imgClass1 circle howiepic">
      </div>
      <div class="col s4 m4 l4 howie2">
        <img src="/images/howieMain.jpeg" class="imgClass mainCircle howiepic">
      </div>
      <div class="col s4 m4 l4 howie3">
        <img src="/images/howieStroll.jpeg" class="imgClass1 circle howiepic">
      </div>
    </div>
    <div class="row">
      <div class="col s12 contain">
        <h3 class="howieText">As you probably already know, my name is Howie! I am the “furchild” to Rachel
          D’Alessandris. I am a 2 year
          old Pembroke Welsh Corgi, which means I was blessed with big ears and stumpy legs. I live a pretty simple life
          filled with treats, fetch, and lots of attention. Mom says I’m spoiled, but don’t all dogs get unlimited belly
          rubs, birthday cakes, and bike rides in their doggy carriage by the beach? Anyway, feel free to follow my
          crazy corgi adventures on Instagram @howiecorgi.
          Happy Holidays!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s4 m4 l4 howie4">
        <img src="/images/howieSanta.jpeg" class="imgClass1 circle howiepic">
      </div>
      <div class="col s4 m4 l4 howieVideo">
        <video autoplay muted loop src="/images/howieSnow.mp4" type="video/mp4"
          class="mainCircle imgClass howiepic"></video>
      </div>
      <div class="col s4 m4 l4 howie5">
        <img src="/images/howieBirth.jpeg" class="imgClass1 circle howiepic">
      </div>
    </div>
  </div>
</div>

<div class="section light full-height">
  <div class="container">
    <div class="row">
      <div class="decemberHeader center">
        <h1>December 2019</h1>
      </div>
    </div>
    <div class="row">
      <div class="weekday">
        <h4 class="weekdayMessage">Sunday</h4>
      </div>
      <div class="weekday">
        <h4 class="weekdayMessage">Monday</h4>
      </div>
      <div class="weekday">
        <h4 class="weekdayMessage">Tuesday</h4>
      </div>
      <div class="weekday">
        <h4 class="weekdayMessage">Wednesday</h4>
      </div>
      <div class="weekday">
        <h4 class="weekdayMessage">Thursday</h4>
      </div>
      <div class="weekday">
        <h4 class="weekdayMessage">Friday</h4>
      </div>
      <div class="weekday">
        <h4 class="weekdayMessage">Saturday</h4>
      </div>
    </div>
    <div class="row">
      <div class="tableRow">
        <h5 class="dayNumber">1</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">2</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">3</h5>
        <h4 class="dateMessage">ZOLL Training: 8-9:30am</h4>
        <h4 class="dateMessage">Perinatal Safety Committee 7:30-9:30am</h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">4</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">5</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">6</h5>
        <h4 class="dateMessage">ZOLL Training: 8-9:30am</h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">7</h5>
        <h4 class="dateMessage"></h4>
      </div>
    </div>
    <div class="row">
      <div class="tableRow">
        <h5 class="dayNumber">8</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">9</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">10</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">11</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">12</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">13</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">14</h5>
        <h4 class="dateMessage"></h4>
      </div>
    </div>
    <div class="row">
      <div class="tableRow">
        <h5 class="dayNumber">15</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">16</h5>
        <h4 class="dateMessage">Perinatal Skills w/ Doctor Grace 8-9:30am 1st Session</h4>
        <h4 class="dateMessage">Perinatal Skills w/ Doctor Grace 1300-1430 2nd Session</h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">17</h5>

      </div>
      <div class="tableRow">
        <h5 class="dayNumber">18</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">19</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">20</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">21</h5>
        <h4 class="dateMessage"></h4>
      </div>
    </div>
    <div class="row">
      <div class="tableRow">
        <h5 class="dayNumber">22</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">23</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">24</h5>
        <h4 class="dateMessage">48 Hour Class</h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">25</h5>
        <h4 class="dateMessage">Christmas</h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">26</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">27</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">27</h5>

      </div>
    </div>
    <div class="row">
      <div class="tableRow">
        <h5 class="dayNumber">29</h5>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">30</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">31</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">

      </div>
      <div class="tableRow">

      </div>
      <div class="tableRow">

      </div>
      <div class="tableRow">

      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>

<!-- External libraries -->
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/ScrollMagic.min.js"></script>
<script src="/js/animation.gsap.min.js"></script>

<!-- Initialization script -->
<script src="/js/startup.js"></script>
<script src="/js/init.js"></script>
<script src="/js/page.js"></script>