<!-- Navbar -->
<nav class="navbar navbar-solid-transition">
  <div class="nav-wrapper">
    <a href="horizontal-half.html" class="brand-logo"><i class="icon-diamond"></i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="active"><a class="dropdown-trigger" href="#!" data-target="pages">Pages<i
            class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

    <ul id="pages" class="dropdown-content">
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>

    <a href="#" data-target="slide-out" class="sidenav-trigger button-collapse right"><i
        class="material-icons white-text">menu</i></a>
  </div>
</nav>
<ul id="slide-out" class="sidenav">
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-teal active">Pages</a>
        <div class="collapsible-body">
          <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
</ul>
<div class="section header">
  <div class="fallingSnow">
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </div>
  <div class="header-wrapper row valign-wrapper rotate">
    <div class="col s12 header1">
      <h1 class="textHeader">Perinatal Services December Newsletter</h1>
      <span class="tagline">Happy Holidays</span>
      <button class="read-more"><i class="icon-caret-down"></i></button>
    </div>
  </div>
</div>



  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/js/materialize.min.js"></script>

  <!-- External libraries -->
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/masonry.pkgd.min.js"></script>
  <script src="/js/TweenMax.min.js"></script>
  <script src="/js/ScrollMagic.min.js"></script>
  <script src="/js/animation.gsap.min.js"></script>

  <!-- Initialization script -->
  <script src="/js/startup.js"></script>
  <script src="/js/init.js"></script>
  <script src="/js/page.js"></script>