<!-- Navbar -->
<nav class="navbar navbar-solid-transition">
  <div class="nav-wrapper">
    <a href="horizontal-half.html" class="brand-logo"><i class="icon-diamond"></i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="active"><a class="dropdown-trigger" href="#!" data-target="pages">Pages<i
            class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

    <ul id="pages" class="dropdown-content">
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>

    <a href="#" data-target="slide-out" class="sidenav-trigger button-collapse right"><i
        class="material-icons white-text">menu</i></a>
  </div>
</nav>
<ul id="slide-out" class="sidenav">
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-teal active">Pages</a>
        <div class="collapsible-body">
          <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
</ul>
<div class="section header">
  <div class="fallingSnow">
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </div>
  <div class="header-wrapper row valign-wrapper rotate">
    <div class="col s12 header1">
      <h1 class="textHeader">Perinatal Services December Newsletter</h1>
      <span class="tagline">Happy Holidays</span>
      <button class="read-more"><i class="icon-caret-down"></i></button>
    </div>
  </div>
</div>

<div class="section background1 full-height">
  <div class="row valign">
    <div class="col s12 m10 offset-m1">
      <div class="row center">
        <div class="col s12">
          <h2 class="Manager">A Word From Our Perinatal Services Manager</h2>
        </div>
      </div>
      <div class="row staggered-transition-wrapper" data-duration="0" data-staggereddelay=".9">
        <div class="col s12 m6 l6 fade-in-out">
          <img class="tammy" src="/images/tammy-turner.jpg">
        </div>
        <div class="col s12 m6 6 fade-in-out center">
          <div class="row">
            <div class="col s12 fade-in-out">
              <h1 class="titles">Tammy M. Turner, MA, BSN, RNC- Inpt OB &amp; MNN</h1>
            </div>
          </div>
          <div class="row">
            <div class="col s12 fade-in-out">
               <h4><i class="medium material-icons">message</i></h4>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section christmas full-height">
  <div class="row blacktext">
    <div class="col s12 m10 offset-m1 center">
      <h1>Meet your Perinatal Services Leadership Team</h1>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image ball">
              <img class="activator circle those" src="http://placehold.it/600x400">
            </div>
            <div class="card-content">
               <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name">Dr. Emilio Chavira - Chair, Perinatal Services</h1>
            </div>
            <div class="card-reveal cardR" id="style-3">
              <span class="card-title grey-text text-darken-4">Card Title<i
                  class="material-icons right">close</i></span>
              <p class="textCard"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m6 l6">
          <div class="card  fade-in-out up-in-out" data-duration="0">
            <div class="card-image ball">
              <img class="activator circle that" src="/images/tammy-turner.jpg">
            </div>
            <div class="card-content">
               <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name">Tammy Turner - Perinatal Services</h1>
            </div>
            <div class="card-reveal cardR" id="style-3">
              <span class="card-title grey-text text-darken-4">Card Title<i
                  class="material-icons right">close</i></span>
              <p class="textCard"></p>
            </div>
          </div>
        </div>
        <div class="col s6 m6 l6">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image ball">
              <img class="activator circle that" src="http://placehold.it/600x400">
            </div>
            <div class="card-content">
               <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name">Gina Paz, RN - CUS Days</h1>
            </div>
            <div class="card-reveal cardR" id="style-3">
              <span class="card-title grey-text text-darken-4">Card Title<i
                  class="material-icons right">close</i></span>
              <p class="textCard"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s3 m3 l3">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image waves-effect waves-block waves-light ball">
              <img class="activator circle this" src="http://placehold.it/600x400">
            </div>
            <div class="card-content">
               <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name">Kirsty Chartier, RN - CUS Day</h1>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i
                  class="material-icons right">close</i></span>
              <p class="textCard"></p>
            </div>
          </div>
        </div>
        <div class="col s3 m3 l3">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image waves-effect waves-block waves-light ball">
              <img class="activator circle this" src="http://placehold.it/600x400">
            </div>
            <div class="card-content">
               <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name">Donna Nolan, RN  CUS Nights</h1>
            </div>
            <div class="card-reveal" id="style-3">
              <span class="card-title grey-text text-darken-4">Card Title<i
                  class="material-icons right">close</i></span>
              <p class="textCard"></p>
            </div>
          </div>
        </div>
        <div class="col s3 m3 l3">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image waves-effect waves-block waves-light ball">
              <img class="activator circle this" src="/images/nancy graham.png">
            </div>
            <div class="card-content">
               <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name">Nancy Graham, RN- CUS Nights</h1>
            </div>
            <div class="card-reveal" id="style-3">
              <span class="card-title grey-text text-darken-4">Card Title<i
                  class="material-icons right">close</i></span>
                  <p class="textCard"></p>
            </div>
          </div>
        </div>
        <div class="col s3 m3 l3">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image waves-effect waves-block waves-light ball">
              <img class="activator circle this" src="/images/suzanne morales.jpg">
            </div>
            <div class="card-content">
              <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name">Suzanne Morales, MSN-Ed, RN - Perinatal Educator</h1>
            </div>
            <div class="card-reveal" id="style-3">
              <span class="card-title grey-text text-darken-4">About Suzanne<i
                  class="material-icons right">close</i></span>
              <p class="textCard">I joined MLKCH in April of 2015. My passion has been teaching as well a bedside nursing related to Maternal and Child health.
                In my 14 years as an RN/LD here in the United States, and before that, my more thn 10 years as practicing in Midwifery back in the Philippines, I have
                come to the realization that what makes me fulfilled as a professional, is being able to mold students and mentees to become the best professionals that they
                have become. Teaching enables you to do that. From the rough beginning of the student's lives, they have graduated to become gems in their professions, and I have been
                fortunate enough to see them blossom first hand because I have worked with most of them. My proudest moments as an educator is when I see them succeed knowing that I have contributed part to that journey. 
              </p>
              <br>
              <p class="textCard">Likewise, as a practicing nurse in LD unit, it also comes with immeasurable reward, when you can be part of the miracle of life and be during all the emotions
                that goes with it. Sometimes, there will be sad moments when we encounter fetal demise or maternal death, but just the same, I too become a part of those emotional roller coaster that 
                the families need to endure and knowing tthat i have been instrumental in making it more bearable for them, is also privilege.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section light full-height">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <div class="perspective-wrapper">
          <div class="feature rotate-y-in-out fade-in-out left-transform-origin">
            <h3>Getting to Know</h3>
          </div>
        </div>
      </div>
      <div class="col m12 center">
        <div class="perspective-wrapper">
          <div class="feature rotate-y-in-out fade-in-out left-transform-origin">
            <h3>Dr. Emiliano Chavira, PS Chair</h3>
            <h1 class="input">Needs more input</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="section redback cnm">
    <div class="container">
      <div class="row valign-wrapper">
        <div class="col s12 center">
          <div class="staggered-transition-wrapper">
            <div class="feature left-in-out fade-in-out">
              <h1>CNM Profile</h1>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <img class="angela" src="/images/angela sojobi.jpg">
        </div>
        <div class="col s12 m8">
          <div class="row">
            <div class="col s12">
              <h2 class="angelaHeader">Angela Sojobi, RN, BSN, MSN, DNP</h2>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p class="cnmText">When asked how many babies she has delivered, Angele Sojobi laughs. <span class="pink-text text-darken-2">"I stopped counting at 5,000 and that was 10 years ago,"</span> she says.
                Born in Nigeria, Angela graduated from high school at the age of 15 and then went on to nursing school.</p>
              <p class="cnmText"><span class="pink-text text-darken-2">"I like helping to make the most important thing a woman does in her life easier and happier for her."</span> She moved to the United States at age 24
                and became a reigstered nurse and midwife. She joined the staff at Martin Luther King, Jr. Community Hospital in the fall of 2015. Since then, her warm smile and gentle coaching
                have guided many new mothers through childbirth.</p>
              <p class="cnmText">Angela and the other midwivs at the hospital stay with their patient all the way through labor and delivery. <span class="pink-text text-darken-2">"We hold their hands,"</span> Angela says. <span class="quote">
                "We even help with breastfeeding after the baby is born. We also talk to the family and comfort them and teach them during the experience."</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 center">
          <div class="row">
            <div class="col s12">
              <h4>Wondering whalt all those letters are after Angela's name? They repreent her nursing credentials.</h4>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
               <ul>
                <li class="credentials center">RN stands for Registered Nurse</li>
                <li class="credentials center">BSN means she earned her Bachelor's Degree in Nursing</li>
                <li class="credentials center">MSN means she earned her Master's Degree in Nursing</li>
                <li class="credentials center">DNP stands for "Doctor of Nursing Practice"</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col s12 m6 center">
          <h3>All of the letters together mean Angela is a very smart and educated professional. We're glad she's part of our perinatal team.</h3>
        </div>
      </div>
    </div>
  </div>
  </div>


  <div class="section light full-height">
    <div class="container">
      <div class="row valign-wrapper">
        <div class="col s12 m4 center">
          <div class="staggered-transition-wrapper">
            <div class="feature fade-right-in-out">
              <h3>Kudos Corner</h3>
              <h1 class="input">Needs more input</h1>
            </div>
            <div class="feature fade-right-in-out">
              <h3>Daisy Award Winner</h3>
              <h1 class="input">Needs more input</h1>
            </div>
          </div>
        </div>
        <div class="col s12 m8 center">
          <!--Content-->
          <h1>Photo</h1>
        </div>
      </div>
    </div>
  </div>


  <div class="section gradient full-height">
    <div class="container">
      <div class="row valign-wrapper fade-right-in-out">
        <div class="col s12 center">
          <h1>Back to School</h1>
        </div>
      </div>
      <div class="row fade-right-in-out">
        <div class="col s12 m4">
          <div class="row">
            <div class="col s12 m12">
              <img class="backSchool responsive-img" src="/images/cindy martinez.jpg">
            </div>
          </div>
            <div class="col s12 m12 center">
              <div class="row">
                <div class="col s12">
                  <h3>Cindy Martinez</h3>
                </div>
                <div class="col s12">
                  <h4 class="schoolDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatum aspernatur dolor corporis deleniti, et facilis illum, magni aliquam tempora atque debitis reiciendis perferendis cum vero. Fuga maxime obcaecati doloribus.</h4>
                </div>
              </div>
            </div>
        </div>
      <div class="col s12 m4">
          <div class="row">
            <div class="col s12 m12">
              <img class="backSchool responsive-img" src="/images/cindy martinez.jpg">
            </div>
          </div>
            <div class="col s12 m12 center">
              <div class="row">
                <div class="col s12">
                  <h3>Cynthia Martinez</h3>
                </div>
                <div class="col s12">
                  <h4 class="schoolDescription">The reason I went back to school was to become a role model for my kids. The fact that my children look up to me is a great feeling. I want them to feel proud of me and of the accomplishments I have done over the years.
                    But most of all, I want to have a rewarding career for myself.
                  </h4>
                </div>
              </div>
            </div>
        </div>
        <div class="col s12 m4">
          <div class="row">
            <div class="col s12 m12">
              <img class="backSchool responsive-img" src="/images/porsha gray.jpg">
            </div>
          </div>
            <div class="col s12 m12 center">
              <div class="row">
                <div class="col s12">
                  <h3>Porsha Gray</h3>
                </div>
                <div class="col s12">
                  <h4 class="schoolDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatum aspernatur dolor corporis deleniti, et facilis illum, magni aliquam tempora atque debitis reiciendis perferendis cum vero. Fuga maxime obcaecati doloribus.</h4>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section light full-height">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 center">
          <div class="feature">
            <h3>Our Breastfeeding Task Force </h3>
            <h1 class="input">Needs more input</h1>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section black full-height">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 center">
          <div class="feature">
            <h3>From Your Educators Note</h3>
            <p>Needs Input</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Us -->
  <div class="section light full-height">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 center">
          <div class="feature">
            <h3>Pets Shout Out</h3>
            <p>Featuring: Howie</p>
            <h1 class="input">Needs more input</h1>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="/js/materialize.min.js"></script>

  <!-- External libraries -->
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/masonry.pkgd.min.js"></script>
  <script src="/js/TweenMax.min.js"></script>
  <script src="/js/ScrollMagic.min.js"></script>
  <script src="/js/animation.gsap.min.js"></script>

  <!-- Initialization script -->
  <script src="/js/startup.js"></script>
  <script src="/js/init.js"></script>
  <script src="/js/page.js"></script>