<nav class="navbar navbar-solid-transition">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MLKCH Perinatal Department Newsletter</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a class="dropdown-trigger" href="#!" data-target="pages">Previous Newsletters<i
                        class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <ul id="pages" class="dropdown-content">
            <li><a href="/">May 2020</a></li>
            <li><a href="/april">April 2020</a></li>
            <li><a href="/march">March 2020</a></li>
            <li><a href="/february">February 2020</a></li>
            <li><a href="/january">January 2020</a></li>
            <li><a href="/december">December 2019</a></li>
        </ul>

        <a href="/" data-target="slide-out" class="sidenav-trigger button-collapse right"><i
                class="material-icons white-text">menu</i></a>
    </div>
</nav>
<ul id="slide-out" class="sidenav">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-teal active">Previous Newsletters</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/">May 2020</a></li>
                        <li><a href="/april">April 2020</a></li>
                        <li><a href="/march">March 2020</a></li>
                        <li><a href="/february">February 2020</a></li>
                        <li><a href="/january">January 2020</a></li>
                        <li><a href="/december">December 2019</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

<div class="section header">
  <div class="fallingSnow">
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </div>
  <div class="header-wrapper row valign-wrapper rotate">
    <div class="col s12 header1">
      <h1 class="textHeader">Perinatal Services December Newsletter</h1>
      <span class="tagline">Happy Holidays</span>
      <button class="read-more"><i class="icon-caret-down"></i></button>
    </div>
  </div>
</div>


<div class="section background1 full-height">
  <div class="row valign">
    <div class="col s12 center">
      <h2 class="Manager">A Christmas Message From our Perinatal Services Manager</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="row autoMid">
        <div class="col s12 fade-in-out">
          <img class="tammy" src="/images/tammy-turner.jpg">
          <h1 class="titles">Tammy M. Turner, MA, BSN, RNC- Inpt OB &amp; MNN</h1>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="row">
        <div class="col s12">
          <h5 class="tammyText">Christmas is such a special time of the year. It is full of beautiful sceneries, vibrant
            colors,
            delightful smells and everything else that goes along with this Holiday Season. It includes the sound of
            singing Christmas carols, ringing bells, the smell of fresh balsam, and bright lights all around us. All
            of these things add to the richness of the season.</h5>
          <h5 class="tammyText">It’s one of my most favorite times of the year because I have the opportunity to give
            from the heart.
            For me, it is about sharing and giving. Celebrating this holiday is more than just “what will I receive”
            this year in gifts, but it should be more about how can I express gratitude, and thanksgiving by giving
            to others. Always remember that when we give, we always make room to receive as well!</h5>
          <h5 class="tammyText">Start a new tradition by giving to someone who least expects it as a way to say thank
            you!</h5>
          <h5 class="tammyText">I wish you a very Merry Christmas and a Happy New Year this year and always!</h5>
          <h5 class="tammyText">Love, Tammy</h5>
          <h5 class="tammyText">P.S, Hercules says he agrees!</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section scope full-height">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1 class="know center">Getting to Know</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <img src="/images/Dr Chavira.jpg" class="circleBig">
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h1 class="chavira center">Emiliano Chavira, MD, MPH, FACOG, Department Chair - Women's and Children's Services,
          MLK Community Hospital</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="textCard1 center knowText">
          Hello! Welcome to the very first Martin Luther King Jr. Community Hospital Department of Women’s &
          Children’s Services Newsletter. As the current Department Chairperson, I would like to take a moment to
          introduce myself to you. I am the oldest of 3 siblings, and as a child I was reared in a
          Mexican-American
          household on the US-Mexico border in El Paso, Texas. I grew up to eventually become the proud and
          exhausted
          father of three rambunctious little girls: ages 8, 5, and 6 months! Outside of medicine, I enjoy outdoor
          sports like snowboarding and scuba diving. I am also a huge fan of all kinds of music, and I am also a
          pretty
          serious movie-holic!
        </p>
        <p class="textCard1 center knowText">
          When I was a college student, I began to learn about some of the many painful
          injustices in our world, and
          this has shaped a lot of my life decisions as well as my overall approach to care. To begin with, this
          was a
          big part of my motivation to become a physician in the first place. In addition, it is why I have chosen
          to
          work in the various inner city hospitals that I have worked in over the years. It has always been a
          priority
          of mine to serve underprivileged, marginalized, and medically underserved women and their families. This
          is
          one of the reasons that I am so proud to be a part of this team here at MLK Community Hospital!</p>
        <p class="textCard1 center knowText">When I went to medical school, I fell in love with the specialty of
          obstetrics, and
          since then taking care
          of pregnant women has defined my existence. After my Ob/Gyn residency at the LAC+USC Medical Center, I
          continued on to complete my fellowship in Maternal-Fetal Medicine. I have worked in many different types
          of
          healthcare settings, from large tertiary hospitals where I have taken care of some of the most
          complicated
          pregnancies imaginable, to small clinics where I have grappled with some of the many common problems
          faced by
          pregnant women in the local community. No matter what the setting, one of the things about pregnancy
          these
          days that has really struck me very deeply is how much fear there is surrounding pregnancy and
          childbirth. One
          of my missions as a healer has always been to deliver care that is not only in line with the best
          available
          current evidence and guidelines, but also to care for women in a manner that is humanistic, kind, and
          spiritually healing, uplifting, and empowering. </p>
        <p class="textCard1 center knowText">
          In recent years, I have become acutely attuned to and interested in ethical issues in obstetric care,
          human
          rights in pregnancy in childbirth, and the widespread problem of obstetric violence. These issues affect
          all
          pregnant women, but women of color and the underprivileged and underserved are all the more vulnerable.
          I have
          served as a board member for a non-profit organization called Improving Birth, which advocates for
          respectful,
          evidence-based practices in maternity care. As an advocate for pregnant women, I have been an invited
          guest on
          several podcasts, I have been interviewed for news media articles, and I have even been to Sacramento
          and
          Washington to lobby our state and local governments for legislation to help improve maternity care!
        </p>
        <p class="textCard1 center knowText">
          The truth is, on a day-to-day basis, this work that we do is very hard. It is demanding for all of us in
          a
          thousand ways. Providing care that is both high quality and humanistic is a monumental challenge! But
          doing
          this work well for the deserving women and families of this community is so incredibly important. I love
          working with our team here at MLK, because the level of care that we provide is simply outstanding. As I
          said
          earlier, I am honored and proud to be a part of this team. I look forward to continue working together
          with
          all of you, and to continue striving to improve the care that we deliver: bit by bit, step by step, but
          each
          day just a little better than the day before! I’ll see you on the wards!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section christmas full-height">
  <div class="row blacktext">
    <div class="col s12 m10 offset-m1 center">
      <h1 class="meet">Meet Your Perinatal Services Leadership Team</h1>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <img class="circleChavira" src="/images/Dr Chavira.jpg">
            </div>
            <div class="card-content">
              <h1 class="name">Emiliano Chavira, MD, MPH, FACOG, Department Chair - Women's and Children's Services, MLK
                Community Hospital</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image waves-effect waves-block waves-light rectangle">
              <img class="activator circle this" src="/images/tammy-turner.jpg"> </div>
            <div class="card-content">
              <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name">Tammy Turner - Perinatal Services</h1>
            </div>
            <div class="card-reveal" id="style-3">
              <span class="card-title grey-text text-darken-4">About Tammy<i
                  class="material-icons right">close</i></span>
              <p class="textCard">I started at MLKCH on May 21, 2018 and I'm responsible for Labor and Delivery,
                Postpartum, and the Nursery. Our goal for Perinatal Services is to provide a high level of safe an
                quality care to help our patients and families have the healthiest outcomes.</p>
              <p class="textCard">I have over 34 years of experience in Obstetrical and Perinatal Services and over 12
                years of leadership experience. I am a member of the Associate of Women's Health, Obstetric and Neonatal
                Nursing. I hold a Master of Art Degree in Human Services - Executive Leadership with a focus on
                Counseling. I am certified in Inpatient OB and Maternal Newborn Nursing</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m6 l6">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image waves-effect waves-block waves-light ball">
              <img class="activator circle this" src="/images/Kirsty Chartier.jpg">
            </div>
            <div class="card-content">
              <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name">Kirsty Chartier, RN - CUS Day</h1>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Kirsty Chartier<i
                  class="material-icons right">close</i></span>
              <p class="textCard">I am the oldest of four children and as we were growing up I had always thought of
                myself as the leader. Now that all of my family has passed early in their lives, I have become the
                leader as I am the matriarch of the family and they continually look to me to continue the traditions,
                pass on the stories and make important decisions concerning various matters. My husband and I are proud
                parents of 7 children and 12 grand-children and our happiest moments in life are spent sharing time with
                them. I have loved being a mother, all of the aspects including pregnancy, delivery and raising a family
                so it was only natural that when I was deciding which career path to take that I was led to nursing,
                specifically Labor and Delivery nursing. My career began in 1993 as an L&D nurse in a Community Hospital
                in Northwest IN. My training was exceptional and I loved where I was at, as it was rare that anyone left
                there; most employees retired there. But I love change and adventure and I had decided to advance my
                career so I went back to the University and received by BSN followed by my MSN in administration and
                management. During this period in my life I decided to venture out of my comfort zone as a travel nurse
                and have never looked back. Once again, destiny has led me here to MLK in a leadership role and I am
                very happy here! I love my new positon and have fulfilled my career goals. I plan to continue learning
                as I absolutely love to learn. I would like to continue my studies of foreign language and learn
                Mandarin, Swedish and sign language to start with and I would also like to become more fluent in Spanish
                as it is useful here. My retirement goal is to travel the world and teach the English language and
                contribute my skills as a nurse in places of crisis.
              </p>
            </div>
          </div>
        </div>
        <div class="col s6 m6 l6">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image waves-effect waves-block waves-light ball">
              <img class="activator circle this" src="/images/gina.jpeg">
            </div>
            <div class="card-content">
              <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name">Gina Paz, RN - CUS Days</h1>
            </div>
            <div class="card-reveal" id="style-3">
              <span class="card-title grey-text text-darken-4">About Gina<i
                  class="material-icons right">close</i></span>
              <p class="textCard">I’ve been married for 24 years with 3 beautiful children, one of them with special
                needs. I was a stay at home mom for 8 years and decided to become an RN. Worked at my last hospital for
                5 years then applied at MLK before they opened and was part of the licensing team. Opportunity for
                growth at MLK was so abundant that I decided to be a clinical unit supervisor, then was offered the
                chance to be manager. My unyielding dedication for our department and hours spent days and nights took a
                toll on my family. After a year I decided to step down and take care of what was more
                important…….family. The experience and knowledge I received assisted me in my role as Clinical Unit
                Supervisor.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6 m6 l6">
            <div class="card fade-in-out up-in-out" data-duration="0">
              <div class="card-image waves-effect waves-block waves-light ballNight">
                <img class="activator circle this" src="/images/donna.jpg">
              </div>
              <div class="card-content">
                <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
                <h1 class="name">Donna Nolan, RN CUS Nights</h1>
              </div>
              <div class="card-reveal" id="style-3">
                <span class="card-title grey-text text-darken-4">Donna Nolan<i
                    class="material-icons right">close</i></span>
                <p class="textCard">Hello,
                  I’m Donna Nolan one of the perinatal CUSs on night shift. I started my professional nursing career as
                  an LVN and eventually progressed to RN. I am passionate about the care of mothers and babies, and am
                  Certified in Inpatient Obstetrics. I have been with MLKCH since prior to our open and love as well as
                  live in the community we serve. I am ecstatic to be a member of the excellent CARE team here at MLKCH.
                </p>
              </div>
            </div>
          </div>
          <div class="col s6 m6 l6">
            <div class="card fade-in-out up-in-out" data-duration="0">
              <div class="card-image waves-effect waves-block waves-light ballNight">
                <img class="activator circle this" src="/images/nancy graham.png">
              </div>
              <div class="card-content">
                <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
                <h1 class="name">Nancy Graham, RN- CUS Nights</h1>
              </div>
              <div class="card-reveal" id="style-3">
                <span class="card-title grey-text text-darken-4">About Nancy<i
                    class="material-icons right">close</i></span>
                <p class="textCard">Since I was a child I knew I wanted to be a nurse. When I started my nursing
                  education, I felt in love with Labor and Delivery from the beginning but I did one year of med- surg
                  as I was advice by my OB instructor in College. I have being a nurse for 32 years and I worked in
                  different hospitals with different cultures. Being part of the leadership team has really taught me
                  that you need to have kindness and compassion with the people you work to be able to succeed as a
                  leader. I love my role because I’m able to share my knowledge and help my team to provide the best
                  care for our patients. Being in this position has a lot of challenges but I take every challenge as a
                  way to learn and growth as a nurse. Every day before I came to work I pray for wisdom, kindness and
                  compassion so I can perform in the best of my abilities for my coworkers and clients.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card fade-in-out up-in-out" data-duration="0">
              <div class="card-image waves-effect waves-block waves-light silver">
                <img class="activator circle this" src="/images/suzanne morales.jpg">
              </div>
              <div class="card-content">
                <h5 class="opaque">Click Me <i class="material-icons">arrow_drop_up</i></h5>
                <h1 class="name">Suzanne Morales, MSN-Ed, RN - Perinatal Educator</h1>
              </div>
              <div class="card-reveal" id="style-3">
                <span class="card-title grey-text text-darken-4">About Suzanne<i
                    class="material-icons right">close</i></span>
                <p class="textCard">I joined MLKCH in April of 2015. My passion has been teaching as well as a bedside
                  nursing related to Maternal and Child health. In my 14 years as an RN/LD here in the United States,
                  and before that, my more than 10 years as
                  practicing in Midwifery back in the Philippines, I have come to the realization that what makes me
                  fulfilled as a professional, is being able to mold students
                  and mentees to become the best professionals that they can become. Teaching enables you to do that.
                  From the rough beginning of the student's lives, they
                  have graduated to become gems in their professions, and I have been fortunate enough to see them
                  blossom first hand because I have worked with most of them. My proudest
                  moments as an educator is when I see them succeed knowing that I have contributed part to that
                  journey.
                </p>
                <p class="textCard">Likewise, as a practicing nurse in the OB Department, it also comes with its
                  immeasurable rewards, when you can be part of and become witness to births and new lives being
                  welcomed to this world. It is immensely gratifying to be a part of the miracle of life and be during
                  all the emotions that goes with it, for the families to which these precious children were born into.
                  Sometimes, there will be sad moments when we encounter newborn demise, or the unfortunate maternal
                  death, but just the same, I too become a part of those emotional roller coaster that families need to
                  endure and knowing that I have been instrumental in making it more bearable for them, is also a
                  privilege.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section redback cnm">
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s12 center">
        <div class="staggered-transition-wrapper">
          <div class="feature left-in-out fade-in-out">
            <h1 class="cnmTitle">Meet Your Midwife</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <img class="angela" src="/images/angela sojobi.jpg">
      </div>
      <div class="col s12 m8">
        <div class="row">
          <div class="col s12">
            <h2 class="angelaHeader">Angela Sojobi, RN, BSN, MSN, DNP</h2>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p class="cnmText">When asked how many babies she has delivered, Angele Sojobi laughs. <span
                class="pink-text text-darken-2">"I stopped counting at 5,000 and that was 10 years ago,"</span> she
              says. Born in Nigeria, Angela graduated from high school at the age of 15 and then went on to nursing
              school.
            </p>
            <p class="cnmText"><span class="pink-text text-darken-2">"I like helping to make the most important thing a
                woman does in her life easier and happier for her."</span> She moved to the United States at age 24
              and became a reigstered nurse and midwife. She joined the staff at Martin Luther King, Jr. Community
              Hospital in the fall of 2015. Since then, her warm smile and gentle coaching
              have guided many new mothers through childbirth.</p>
            <p class="cnmText">Angela and the other midwives at the hospital stay with their patient all the way through
              labor and delivery. <span class="pink-text text-darken-2">"We hold their hands,"</span> Angela says. <span
                class="quote">
                "We even help with breastfeeding after the baby is born. We also talk to the family and comfort them and
                teach them during the experience."</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 center">
        <div class="row">
          <div class="col s12">
            <h4>Wondering what all those letters are after Angela's name? They represent her nursing credentials.</h4>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul>
              <li class="credentials center">RN stands for Registered Nurse</li>
              <li class="credentials center">BSN means she earned her Bachelor's Degree in Nursing</li>
              <li class="credentials center">MSN means she earned her Master's Degree in Nursing</li>
              <li class="credentials center">DNP stands for "Doctor of Nursing Practice"</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m6 center">
        <h3>All of the letters together mean Angela is a very smart and educated professional. We're glad she's part of
          our perinatal team.</h3>
      </div>
    </div>
  </div>
</div>
</div>


<div class="section kudos full-height">
  <div class="wrapper">
    
  </div>
  <div class="container">
    <div class="row valign-wrapper">

    </div>
  </div>
</div>




<div class="section gradient full-height">
  <div class="headerImage"></div>
  <div class="container">
    <div class="row fade-right-in-out">
      <div class="col s12 m4 l4">
        <div class="card fade-in-out up-in-out" data-duration="0">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator circle circleborder marginAuto" src="/images/cindy martinez.jpg">
          </div>
          <div class="card-content">
            <h5 class="opaque center">Click Me <i class="material-icons">arrow_drop_up</i></h5>
            <h1 class="name1 center">Cindy Martinez</h1>
          </div>
          <div class="card-reveal" id="style-3">
            <span class="card-title grey-text text-darken-4 center">About Cindy<i
                class="material-icons right">close</i></span>
            <p class="textCard center">The reason I went back to school was to become a role model for my kids. The fact
              that my children look up to me is a great feeling. I want them to feel proud
              of me and the accomplishments I have done over the years. Bust most of all, I want to have a rewarding
              career for myself.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator circle circleborder marginAuto" src="/images/ally3.jpg">
            </div>
            <div class="card-content">
              <h5 class="opaque center">Click Me <i class="material-icons">arrow_drop_up</i></h5>
              <h1 class="name1 center">Allene Moore</h1>
            </div>
            <div class="card-reveal" id="style-3">
              <span class="card-title grey-text text-darken-4 center">About Allene<i
                  class="material-icons right">close</i></span>
              <p class="textCard center">Thinking of going to nursing school in your 30’s? Well, the first tip to
                provide is that it is
                absolutely possible. 12 years had lapsed since I had received my BS in Psychology. Along with going
                through a divorce and having a child. So, the thought of going back to school was not forefront of my
                mind. Being a unit secretary in hospitals, has given me the opportunity to witness firsthand the
                professionalism, courtesy and moral integrity that nurses display. Through the encouragement of my
                family, co-workers and motivation of my child, I began to take my perquisites classes at a local
                community college. Once I had completed the academic requirements for the nursing program, I was
                persuaded to apply to Charles R. Drew University of Medicine and Science by a fellow co-worker. December
                2019 I will be graduating with my Master’s of Science in Nursing (MSN). I am overjoyed to take the next
                steps in providing my skillsets to my hometown community at Martin Luther King, Jr. Community Hospital.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4 l4">
            <div class="card fade-in-out up-in-out" data-duration="0">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="circle circleborder marginAuto" src="/images/porsha gray.jpg">
              </div>
              <div class="card-content">
                <h1 class="name1 center">Porsha Gray</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section message full-height">
  <div class="container">
    <div class="row"></div>
  </div>
</div>


<div class="section breastBack full-height">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <div class="row">
          <div class="col s12">
            <h4 class="center feed feedTop">MLKCH Offers</h4>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center feed1">
            <h4>Free Mommy Group: every 1st and 3rd Thursday of the month 10am-11:20am</h4>
            <h4>Prenatal Education Class, “Your First 48”: Last Tuesday every month 10am-11am (English), 11am-12pm
              (Spanish)</h4>
            <h4>MLK Birth Equity Project: 1st Tuesday every month, 9am-10am</h4>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="row">
          <div class="col s12">
            <h4 class="center feed">MLKCH Collaboration</h4>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center feed1">
            <h4> CMQCC QI Project-Breasting: First Thursday every month 12pm-1:30pm</h4>
            <h4>CMQCC Birth Equity Project- 2nd Wednesday every month 12pm</h4>
            <h4>OB Coordination Meeting with MLK Outpatient Clinic: 1st Wednesday every month 12pm-1:30pm</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section educators full-height">
  <div class="container">
    <div class="row">
      <div class="col s6 push-s6">
        <img class="circleSpecial" src="/images/Rachel.jpg">
        <h2 class="center black-text rac">Rachel D'Alessandris</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s6 push-s6 black-text putRight center">
        <h4 class="rachelText">Rachel joined MLKCH last 2017.
          She was first assigned in Postpartum. After 3 months, she began to express her interest in our speciality
          when
          she was cross trained in Labor Delivery.
          I personally trained Rachel, and I’m proud to say that I am overjoyed on the progress she has made and how
          much she has grown.
          She is a patient advocate, a good team player, and knowledgeable on tasks that are assigned to her.
          As a new member of Nursing Peer review, I know she can give fair judgments and can represent our unit
          well. I am very excited to see where she goes from here.</h4>
      </div>
    </div>
  </div>
</div>

<!-- Contact Us -->
<div class="section howieBack full-height">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 center">
        <div class="feature">
          <h1 class="pets">Pets Shout Out</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s4 m4 l4 howie1">
        <img src="/images/howiebeach.jpeg" class="imgClass1 circle howiepic">
      </div>
      <div class="col s4 m4 l4 howie2">
        <img src="/images/howieMain.jpeg" class="imgClass mainCircle howiepic">
      </div>
      <div class="col s4 m4 l4 howie3">
        <img src="/images/howieStroll.jpeg" class="imgClass1 circle howiepic">
      </div>
    </div>
    <div class="row">
      <div class="col s12 contain">
        <h3 class="howieText">As you probably already know, my name is Howie! I am the “furchild” to Rachel
          D’Alessandris. I am a 2 year
          old Pembroke Welsh Corgi, which means I was blessed with big ears and stumpy legs. I live a pretty simple
          life
          filled with treats, fetch, and lots of attention. Mom says I’m spoiled, but don’t all dogs get unlimited
          belly
          rubs, birthday cakes, and bike rides in their doggy carriage by the beach? Anyway, feel free to follow my
          crazy corgi adventures on Instagram @howiecorgi.
          Happy Holidays!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s4 m4 l4 howie4">
        <img src="/images/howieSanta.jpeg" class="imgClass1 circle howiepic">
      </div>
      <div class="col s4 m4 l4 howieVideo">
        <video autoplay muted loop src="/images/howieSnow.mp4" type="video/mp4"
          class="mainCircle imgClass howiepic"></video>
      </div>
      <div class="col s4 m4 l4 howie5">
        <img src="/images/howieBirth.jpeg" class="imgClass1 circle howiepic">
      </div>
    </div>
  </div>
</div>

<div class="section date full-height">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>

<div class="section birthday full-height">
  <div class="container">
    <div class="row">
      <h1>&nbsp;</h1>
    </div>
    <div class="row">
      <div class="col s4">
        <div class="balloon1"></div>
      </div>
      <div class="col s4">

      </div>
      <div class="col s4">
        <div class="balloon2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <div class="balloon1"></div>
      </div>
      <div class="col s3">
        <div class="balloon3"></div>
      </div>
      <div class="col s3">
        <div class="balloon2"></div>
      </div>
      <div class="col s3">
        <div class="balloon1"></div>
      </div>
    </div>
  </div>
</div>

<div class="calendar full-height">
  <div class="container">
    <div class="row">
      <div class="decemberHeader center">
        <h1 class="monthTitle">December 2019</h1>
      </div>
    </div>
    <div class="row">
      <div class="weekday">
        <h4 class="weekdayMessage">Sunday</h4>
      </div>
      <div class="weekday">
        <h4 class="weekdayMessage">Monday</h4>
      </div>
      <div class="weekday">
        <h4 class="weekdayMessage">Tuesday</h4>
      </div>
      <div class="weekday">
        <h4 class="weekdayMessage">Wednesday</h4>
      </div>
      <div class="weekday">
        <h4 class="weekdayMessage">Thursday</h4>
      </div>
      <div class="weekday">
        <h4 class="weekdayMessage">Friday</h4>
      </div>
      <div class="weekday">
        <h4 class="weekdayMessage">Saturday</h4>
      </div>
    </div>
    <div class="row">
      <div class="tableRow">
        <h5 class="dayNumber">1</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">2</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">3</h5>
        <h4 class="dateMessage">ZOLL Training: 8-9:30am</h4>
        <h4 class="dateMessage">Perinatal Safety Committee 7:30-9:30am</h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">4</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">5</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">6</h5>
        <h4 class="dateMessage">ZOLL Training: 8-9:30am</h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">7</h5>
        <h4 class="dateMessage"></h4>
      </div>
    </div>
    <div class="row">
      <div class="tableRow">
        <h5 class="dayNumber">8</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">9</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">10</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">11</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">12</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">13</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">14</h5>
        <h4 class="dateMessage"></h4>
      </div>
    </div>
    <div class="row">
      <div class="tableRow">
        <h5 class="dayNumber">15</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">16</h5>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">17</h5>
        <h4 class="dateMessage">Perinatal Skills w/ Doctor Grace 8-9:30am 1st Session</h4>
        <h4 class="dateMessage">Perinatal Skills w/ Doctor Grace 1300-1430 2nd Session</h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">18</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">19</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">20</h5>
        <h4 class="dateMessage">Unit Christmas Party</h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">21</h5>
        <h4 class="dateMessage"></h4>
      </div>
    </div>
    <div class="row">
      <div class="tableRow">
        <h5 class="dayNumber">22</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">23</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">24</h5>
        <h4 class="dateMessage">48 Hour Class</h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">25</h5>
        <h4 class="dateMessage">Christmas</h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">26</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">27</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">27</h5>

      </div>
    </div>
    <div class="row">
      <div class="tableRow">
        <h5 class="dayNumber">29</h5>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">30</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRow">
        <h5 class="dayNumber">31</h5>
        <h4 class="dateMessage"></h4>
      </div>
      <div class="tableRowEnd">
        <h4 class="dateMessage1">Stay tuned for next month's Janurary Newsletter!</h4>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>

<!-- External libraries -->
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/ScrollMagic.min.js"></script>
<script src="/js/animation.gsap.min.js"></script>

<!-- Initialization script -->
<script src="/js/startup.js"></script>
<script src="/js/init.js"></script>
<script src="/js/page.js"></script>