<nav class="navbar navbar-solid-transition">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MLKCH Perinatal Department Newsletter</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a class="dropdown-trigger" href="#!" data-target="pages">Previous Newsletters<i
                        class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <ul id="pages" class="dropdown-content">
            <li><a href="/">January 2020</a></li>
            <li><a href="/december">December 2019</a></li>
        </ul>

        <a href="/" data-target="slide-out" class="sidenav-trigger button-collapse right"><i
                class="material-icons white-text">menu</i></a>
    </div>
</nav>
<ul id="slide-out" class="sidenav">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-teal active">Previous Newsletters</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/">January 2020</a></li>
                        <li><a href="/december">December 2019</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

<div class="section headerDiv full-height">
    <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
    </div>
</div>


<div class="section tammyBackground full-height">
    <div class="row valign">
        <div class="col s12 center">
        </div>
    </div>
</div>

<div class="section department full-height">
    <div class="row valign">
        <div class="col s7 center">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nisi ea consequatur, at facere
                consectetur
                officiis incidunt odio eum ab quae rerum tempora vel numquam voluptatem temporibus eaque deserunt
                repudiandae
                enim ipsam debitis quo recusandae quaerat eius! Reiciendis exercitationem dolorem labore animi
                architecto. Rerum
                tempora, repudiandae natus nisi earum quibusdam ipsum sunt quo voluptatem debitis voluptates eum
                similique
                voluptatibus quia expedita soluta nesciunt tempore facere nemo eos exercitationem veritatis at incidunt
                asperiores! Cum itaque quod autem quos culpa saepe fugiat eos quasi ullam corrupti dolorem nulla
                consequatur
                voluptates exercitationem voluptatibus earum optio aspernatur minima odio, hic magni, quae expedita
                recusandae.
            </h4>
        </div>
    </div>
</div>


<div class="section christmasParty full-height">
    <div class="row">
        <div class="col s12 center">
            <h1 class="partyTitle">The Perinatal Department Christmas Party</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s2">
            <img class="circle centerAlign" src="/images/party/party1.jpg">
        </div>
        <div class="col s2">
            <img class="circle centerAlign" src="/images/party/party2.jpg">
        </div>
        <div class="col s4">
            <img class="mainCircle centerAlign" src="/images/party/party4.jpg">
        </div>
        <div class="col s2">
            <img class="circle centerAlign" src="/images/party/party5.jpg">
        </div>
        <div class="col s2">
            <img class="circle centerAlign" src="/images/party/party6.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <h4 class="partyText">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est minima, natus
                dignissimos
                nostrum quod beatae, rem omnis quaerat alias fuga quibusdam quis! Quasi culpa magni animi at eligendi,
                labore
                totam. Mollitia ut dolorum voluptatum consectetur. Perspiciatis, reiciendis qui eveniet dolorem esse
                doloribus
                expedita dignissimos, architecto iure ipsum, exercitationem rem consectetur. Sapiente labore, corporis
                nemo
                omnis consequatur eveniet saepe sed, cupiditate odio mollitia numquam eos? Commodi nemo adipisci
                eligendi dolore
                dolorum iusto voluptate totam, eaque impedit nulla nostrum natus a dignissimos. Reprehenderit odit
                facere,
                dignissimos deserunt, asperiores blanditiis vel ad quae molestias excepturi labore, expedita beatae.
                Explicabo
                tempore iusto recusandae earum! Labore repudiandae alias ea exercitationem itaque quidem sapiente nisi
                consequuntur, laudantium eveniet error quae aut architecto nesciunt velit nobis fugit voluptate culpa
                laborum
                facilis voluptatibus distinctio perferendis! Veniam temporibus perspiciatis, beatae possimus veritatis
                rem? Et
                voluptatum rerum, voluptate suscipit inventore veniam iusto adipisci officiis, rem ex aliquam vitae
                perferendis,
                magni provident eos? Veniam, alias? Enim, rerum voluptatibus quis deserunt, inventore doloribus eos
                labore dolor
                pariatur magni, ducimus aperiam voluptate! Ipsa quisquam architecto distinctio quasi consequatur, quae
                omnis
                facere ullam, ratione, totam porro ea quidem officia fuga aperiam eum assumenda modi consectetur rem
                laborum
                accusantium officiis sapiente laboriosam! Omnis, neque asperiores?</h4>
        </div>
    </div>
    <div class="row valign">
        <div class="col s4">
            <video class="circleVideo centerAlign" autoplay loop muted src="/images/partyVideo/partyVIDEO3.mp4"></video>
        </div>
        <div class="col s4">
            <video class="circleVideoMain centerAlign" autoplay loop muted controls
                src="/images/partyVideo/partyVIDEO7.mp4"></video>
        </div>
        <div class="col s4">
            <video class="circleVideo centerAlign" autoplay loop muted src="/images/partyVideo/partyVIDEO5.mp4"></video>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <video class="circleVideo centerAlign" autoplay loop muted src="/images/partyVideo/partyVIDEO1.mp4"></video>
        </div>
        <div class="col s4">
            <video class="circleVideo centerAlign" autoplay loop muted src="/images/partyVideo/partyVIDEO6.mp4"></video>
        </div>

        <div class="col s4">
            <video class="circleVideo centerAlign" autoplay loop muted src="/images/partyVideo/partyVIDEO2.mp4"></video>
        </div>
    </div>
</div>

<div class="section midWife full-height">
    <div class="row valign">
        <div class="col s12 center">
        </div>
    </div>
</div>

<div class="section arciBack full-height">
    <div class="row"></div>
    <div class="row valign">
        <div class="col s6 push-s1">
            <h4 class="arciText">Just with every Filipino family back home, all parents wish for their children to get
                into
                nursing. Mine was
                not at all different. When the dean interviewed me during admission why I chose this course, I told her
                straight
                up that my mother thought I would have a good future if I become a nurse. Fifteen years later, I have no
                regrets
                and only thoughts of gratefulness for my mother. They sure do know best. Nursing for me has opened
                opportunities
                I had not imagined having when I had my first skills check off on handwashing. Nursing has taught me
                selfless
                giving of time, words, and wisdom. Nursing showed me depths and layers of human caring. Nursing has
                unraveled
                the beauty of birth and has prepared me to protect the life of my little ones. As I continue to discover
                the
                beauty and the complexities of nursing, I chose to embark on my doctoral journey and prays to fulfill
                and finish
                this year 2020. My family is my inspiration, my husband, my 4-year-old son, and the freshest addition,
                my
                3-week-old daughter.</h4>
        </div>
        <div class="col s6 push-s2 centerAlign">
            <img class="arciPicture" src="/images/arciFamily.jpg">
        </div>
    </div>
</div>

<div class="section black full-height">
    <div class="row valign">
        <div class="col s12 center">
        </div>
    </div>
</div>


<div class="section black full-height">
    <div class="row valign">
        <div class="col s12 center">
            <h1>Dr. Dikio</h1>
            <p>Hi. I’m Dr. Nicholas Dikio, currently one of the laborist on staff at Martin Luther King Community
                Hospital
                since the hospital opened in 2015. It has been a pleasure to see our OB department grow and develop into
                an
                excellent, compassionate place offering state of the art care to all patients in the community.
                I grew up and went to medical school in the Philippines. I did one year of general surgery internship at
                Morristown Hospital in New Jersey, I then did a residency in OB/GYN at St Mary Hospital in Milwaukee,
                Wisconsin.
                After residency, I joined the U.S. Air force as an obstetrician and was stationed in Riverside CA. It
                was one
                of
                the best experiences I had in my career.
                I then joined CIGNA HMO and practiced at Long Beach Community Hospital for 13 years. I decided to open
                my
                private practice at Los Alamitos Medical Center in 2000. Finally, in 2015 I joined Eisner Medical Group
                and
                have
                been Chairman of the Department at Mission Hospital, Long Beach Community Hospital and Los Alamitos
                Medical
                Center.
                Aside from working, I love going fishing and catching the “biggest fish”. I have a lovely wife and 3
                children
                and 4 grandchildren who keeps me busy.
            </p>
        </div>
    </div>
</div>

<div class="section black full-height">
    <div class="row valign">
        <div class="col s12 center">
            <h1>Arci</h1>
        </div>
    </div>
</div>

<div class="section petShout full-height">
    <div class="row valign">
        <div class="col s12 center">
            <h1 class="petTitle">Pets Shout Out</h1>
        </div>
    </div>
</div>

<div class="calendarBackground full-height">
    <div class="container">
        <div class="row">
            <div class="decemberHeader center">
                <h1 class="monthTitle">January 2020</h1>
            </div>
        </div>
        <div class="row">
            <div class="weekday">
                <h4 class="weekdayMessage">Sunday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Monday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Tuesday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Wednesday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Thursday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Friday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Saturday</h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
            </div>
            <div class="tableRow">
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">1</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">2</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">3</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">4</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">5</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">6</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">7</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">8</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">9</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">10</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">11</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">12</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">13</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">14</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">15</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">16</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">17</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">18</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">19</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">20</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">21</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">22</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">23</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">24</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">25</h5>

            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">26</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">27</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">28</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">29</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">30</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">31</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>

<!-- External libraries -->
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/ScrollMagic.min.js"></script>
<script src="/js/animation.gsap.min.js"></script>

<!-- Initialization script -->
<script src="/js/startup.js"></script>
<script src="/js/init.js"></script>
<script src="/js/page.js"></script>