<nav class="navbar navbar-solid-transition">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MLKCH Perinatal Department Newsletter</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a class="dropdown-trigger" href="#!" data-target="pages">Previous Newsletters<i
                        class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <ul id="pages" class="dropdown-content">
            <li><a href="/">March 2020</a></li>
            <li><a href="/february">February 2020</a></li>
            <li><a href="/january">January 2020</a></li>
            <li><a href="/december">December 2019</a></li>
        </ul>

        <a href="/" data-target="slide-out" class="sidenav-trigger button-collapse right"><i
                class="material-icons white-text">menu</i></a>
    </div>
</nav>
<ul id="slide-out" class="sidenav">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-teal active">Previous Newsletters</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/">March 2020</a></li>
                        <li><a href="/february">February 2020</a></li>
                        <li><a href="/january">January 2020</a></li>
                        <li><a href="/december">December 2019</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

<!--Header-->
<div class="MarchHeader full-height">
    <div class="March-header-larger">
        <div class="row">
            <div class="col s3">
                <img src="/images/february/logo.png" alt="logo" class="february-top-image center">
            </div>
            <div class="col s6">
                <img src="/images/march/shamrockdance.gif" alt="logo" class="march-top-image stretch center">
            </div>
            <div class="col s3">
                <img src="/images/february/logo.png" alt="logo" class="february-top-image center">
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h2 class="march-header">MLKCH Perinatal Department's</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h2 class="march-header">March 2020 Newsletter</h2>
            </div>
        </div>
    </div>
</div>

<div class="section march-tammy-back full-height">
    <div class="row valign">
        <div class="col s12 center">
            <h2 class="march-tammy-title">What will be YOUR legacy?</h2>
        </div>
        <div class="col s12 center">
            <h2 class="tammy-feb-message">A Message From Your Perinatal Services Manager - Tammy Turner</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l4">
            <div class="row autoMid">
                <div class="col s12">
                    <img class="tammy-march" src="/images/tammy-turner.jpg">
                </div>
            </div>
            <div class="row autoMid">
                <div class="col s12">
                    <img class="tammy-march" src="/images/march/helping.jpg">
                </div>
            </div>
        </div>
        <div class="col s12 m12 l8">
            <div class="row">
                <div class="col s12">
                    <h4 class="tammy-march-text center">
                        In life, we all create footprints and memories of the things that we have created, experienced,
                        or done during our lifetime. Those foot prints and memories live far beyond our very own lives,
                        and it is how we will be remembered by those who had the opportunity to work with us, go through
                        life with us, and experience care by us. Now, for those who get to spend a lot of time with us,
                        they actually have more information to form their opinions about who we are and what we stand
                        for. But what about the patients that only spend a short moment in our lives, and yet they still
                        will have the opportunity to remember the experience that they shared with us whether good or
                        bad. Whether we believe it or not, we will be a part of a life story for them that many will
                        never forget. What do you want them to remember about you or about us? Will they even remember
                        you, or the things that you did for them? Will they remember you for being kind and
                        compassionate, and making them feel cared for, or will it be because we were rude and lacked
                        passion in the care that we provided. My hope is that it will be because they could truly see
                        the hope and kindness in everything we did for them while they were here.</h4>
                    <hr class="tammy-hr">
                    <h4 class="tammy-march-text center">
                        Today we have an amazing opportunity to leave a beautiful imprint on the lives of every patient
                        that we see and treat here at Martin Luther King Jr. Community Hospital, but how will they
                        remember us? Are you confident that they will? If not, today can be the beginning of creating a
                        new way of caring for our patients. See, we get to decide how we will be remembered by the care
                        that we provide to our patients and by the interactions we have with their loved ones. We get
                        the opportunity to show them that we really do care for them not just in words, but through each
                        and every moment, interaction, and touch that we provide. And when all is said and done, what
                        will be our lasting legacy for them? My hope is that they will be able to always look back and
                        know that we lived up to our vision and commitment to providing kind and compassionate care to
                        each of them.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- MoD --}}

<div class="section march-of-dimes full-height">
    <div class="row valign">
        <div class="col s1"></div>
        <div class="col s10 center">
            <h2 class="JingleTitle marchbday">The MLKCH Perinatal Service Supports March for Babies</h2>
        </div>
        <div class="col s1"></div>

    </div>
    <div class="row">
        <div class="col s12 l4">
            <img src="/images/february/marchOfDimes.PNG" alt="marchOfDimes" class="marchPicture">
        </div>
        <div class="col s12 l8">
            <h2 class="dimeTextSub">Our team stands with March of Dimes to fight for the health of all moms and babies.
                Families in our communities and across the country are touched by the fundraising we do, and we won’t
                stop
                until we reach our goal of building a better future for us all. We’re proud to help provide resources
                and programs to educate and empower moms so every baby can have the best possible start. But we need you
                on our team. Together we can encourage more friends, family and supporters to join us to raise critical
                funds to tackle the biggest health threats facing moms and babies.</h2>
            <img src="/images/february/MOD.png" alt="marchofdimeslogo" class="modLogo">
            <h3 class="dimeTextSubA"><a
                    href="https://www.marchforbabies.org/Fundraising/Team?teamId=1414580&teamEventId=2943699&"
                    target="_blank">Support our March of Dimes Campaign Here</a></h3>
        </div>
    </div>
</div>

<div class="section marchSTD full-height">
    <div class="row">
        <div class="col s12">
            <h1 class="std JingleTitle center">Save the Date!</h1>
        </div>
    </div>
    <div class="row valign">
        <div class="col s12 l4">
            <img class="event" src="/images/march/gail.png">
        </div>
        <div class="col s12 l4">
            <img class="event center" src="/images/march/anotherFlyer.png">
        </div>
        <div class="col s12 l4">
            <img class="event" src="/images/march/baby.png">
        </div>
    </div>
</div>
{{!-- April 15-16 --}}
{{!-- July 9-10 --}}


<div class="laborMarch full-height">
    <div class="row">
        <div class="col s12">
            <h1 class="center">Meet Your Laborist</h1>
        </div>
        <div class="col s12">
            <img class="center" src="/images/march/tears.gif">
        </div>
        <div class="col s12">
            <h3 class="center">Waiting on his input and picture...</h3>
        </div>
    </div>
</div>

{{!-- Birthday --}}
<div class="section feb-birthday full-height">
    <div class="row valign">
        <div class="col s2"></div>
        <div class="col s8 center">
            <h2 class="JingleTitle marchbday">Celebrating our Perinatal March Birthdays</h2>
        </div>
        <div class="col s2"></div>
    </div>
    <div class="row">
        <div class="col s3">
            <h2 class="JingleTitle marchbday">Monica W.</h2>
        </div>
        <div class="col s3">
            <h2 class="JingleTitle marchbday">Erica</h2>
        </div>
        <div class="col s3">
            <h2 class="JingleTitle marchbday">Crystal</h2>
        </div>
        <div class="col s3">
            <h2 class="JingleTitle marchbday">Dr. Dan</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <img src="/images/february/cake-gif.gif" alt="cake-gif" class="cake-feb">
        </div>
    </div>
</div>

<div class="section dog-march-back full-height">
    <div class="row valign">
        <div class="col s1"></div>
        <div class="col s10 center">
            <h2 class="JingleTitle marchbday">Pet Shout Out: Sitch, Pinky, and Miley!</h2>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="row">
        <div class="col s12 l5">
            <img class="ginaDogMarch center" src="/images/march/dog1.JPG"></img>
        </div>
        <div class="col s12 l2">
            <img class="ginaDogMarchGif" src="/images/march/doggies.gif"></img>
        </div>
        <div class="col s12 l5">
            <img class="ginaDogMarch center" src="/images/march/dog2.JPG"></img>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l4">
            <video class="ginaDogMarchVideo center" autoplay muted loop controls
                src="/images/march/dogPlay.mp4"></video>
        </div>
        <div class="col s12 l4">
            <h4 class="ginaDogWord center">Hello! We are Gina's three dogs Pinky, Miley, and Stitch. Starting with
                Pinky, I am around 14-15 years old but still very spunky. I like to tap on Gina's leg and get on my hind
                legs whenever I want a treat, my favorite being soft foods.So the Chihuahua is about 14 to 15 years old.
                Next, I'm Miley, a black french bull dog. I'm turning 3 years old this June and I snore really loudly. I
                pass gas sometimes and they stink! Lastly, I'm Stitch, a brown and white boston terrier. I like to jump
                on all things such as patio chairs, the jacuzzi, but most importantly, your lap! We all get along well
                and love running in the backyard.
            </h4>
        </div>
        <div class="col s12 l4">
            <video class="ginaDogMarchVideo center" autoplay muted loop controls src="/images/march/chi.mp4"></video>
        </div>
    </div>
</div>

{{!-- Calendar --}}
<div class="march-calendar full-height">
    <div class="container">
        <div class="row">
            <div class="decemberHeader center">
                <h1 class="march-Title">March 2020</h1>
            </div>
        </div>
        <div class="row">
            <div class="weekday">
                <h4 class="weekdayMessage">Sunday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Monday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Tuesday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Wednesday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Thursday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Friday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Saturday</h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">1</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">2</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">3</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">4</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">5</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">6</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">7</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">8</h5>
                <h4 class="dateMessage">Daylight Savings</h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">9</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">10</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">11</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">12</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">13</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">14</h5>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">15</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">16</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">17</h5>
                <h4 class="dateMessage">Saint Patrick's Day</h4>

            </div>
            <div class="tableRow">
                <h5 class="dayNumber">18</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">19</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">20</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">21</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">22</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">23</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">24</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">25</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">26</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">27</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">28</h5>

            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">29</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">30</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">31</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <h1 class="march-next center">Stay Tuned for Our <span class="april">April</span> Newsletter</h1>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>

<!-- External libraries -->
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/ScrollMagic.min.js"></script>
<script src="/js/animation.gsap.min.js"></script>

<!-- Initialization script -->
<script src="/js/startup.js"></script>
<script src="/js/init.js"></script>
<script src="/js/page.js"></script>