<nav class="navbar navbar-solid-transition">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MLKCH Perinatal Department Newsletter</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a class="dropdown-trigger" href="#!" data-target="pages">Previous Newsletters<i
                        class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <ul id="pages" class="dropdown-content">
            <li><a href="/">February 2020</a></li>
            <li><a href="/january">January 2020</a></li>
            <li><a href="/december">December 2019</a></li>
            <li><a href="/march">March 2020 (In Progress)</a></li>
        </ul>

        <a href="/" data-target="slide-out" class="sidenav-trigger button-collapse right"><i
                class="material-icons white-text">menu</i></a>
    </div>
</nav>
<ul id="slide-out" class="sidenav">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-teal active">Previous Newsletters</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/">February 2020</a></li>
                        <li><a href="/january">January 2020</a></li>
                        <li><a href="/december">December 2019</a></li>
                        <li><a href="/march">March 2020 (In Progress)</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

<!--Header-->
<div class="FebruaryHeader full-height">
    <div class="february-header-larger">
        <div class="row">
            <div class="col s4">
                <img src="/images/february/logo.png" alt="logo" class="february-top-image">
            </div>
            <div class="col s4">
                <img src="/images/february/heart-wave.jpg" alt="logo" class="february-top-image stretch">
            </div>
            <div class="col s4">
                <img src="/images/february/logo.png" alt="logo" class="february-top-image">
            </div>
        </div>
        <div class="row">
            <div class="col s9 center">
                <h2 class="february-header">MLKCH Perinatal Department's</h2>
            </div>
            <div class="col s3">
                <video class="february-top-video" autoplay muted loop src="/images/february/cat-love.mp4"></video>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h2 class="february-header">February 2020 Newsletter</h2>
            </div>
        </div>
    </div>
</div>

{{!-- Birthday --}}
<div class="section feb-birthday full-height">
    <div class="row valign">
        <div class="col s2"></div>
        <div class="col s8 center">
            <h2 class="JingleTitle">Celebrating our Perinatal February Birthdays</h2>
        </div>
        <div class="col s2"></div>
    </div>
    <div class="row">
        <div class="col s1"></div>
        <div class="col s4">
            <h2 class="JingleTitle">Zhara</h2>
        </div>
        <div class="col s2">
        </div>
          <div class="col s4">
            <h2 class="JingleTitle">Gina </h2>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="row">
        <div class="col s12">
            <img src="/images/february/cake-gif.gif" alt="cake-gif" class="cake-feb">
        </div>
    </div>
    <div class="row">
       <div class="col s1"></div>
        <div class="col s4">
            <h2 class="JingleTitle">Ally </h2>
        </div>
           <div class="col s2">
        </div>
          <div class="col s4">
            <h2 class="JingleTitle">Sandra </h2>
        </div>
        <div class="col s1"></div>
    </div>
</div>

{{!-- Calendar --}}
<div class="february-calendar full-height">
    <div class="container">
        <div class="row">
            <div class="decemberHeader center">
                <h1 class="february-Title">February 2020</h1>
            </div>
        </div>
        <div class="row">
            <div class="weekday">
                <h4 class="weekdayMessage">Sunday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Monday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Tuesday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Wednesday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Thursday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Friday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Saturday</h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
            </div>
            <div class="tableRow">
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">1</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">2</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">3</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">4</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">5</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">6</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">7</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">8</h5>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">9</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">10</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">11</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">12</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">13</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">14</h5>
                <h4 class="dateMessage">Happy Valentines Day!</h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">15</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">16</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">17</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">18</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">19</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">20</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">21</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">22</h5>

            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">23</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">24</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">25</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">26</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">27</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">28</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">29</h5>
                <h4 class="dateMessage">Leap Year</h4>
            </div>
        </div>
        <div class="row">
            <h1 class="february-next center">Stay Tuned for Our <span class="march">March</span> Newsletter</h1>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>

<!-- External libraries -->
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/ScrollMagic.min.js"></script>
<script src="/js/animation.gsap.min.js"></script>

<!-- Initialization script -->
<script src="/js/startup.js"></script>
<script src="/js/init.js"></script>
<script src="/js/page.js"></script>