<nav class="navbar navbar-solid-transition">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MLKCH Perinatal Department Newsletter</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a class="dropdown-trigger" href="#!" data-target="pages">Previous Newsletters<i
                        class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <ul id="pages" class="dropdown-content">
            <li><a href="/">May 2020</a></li>
            <li><a href="/april">April 2020</a></li>
            <li><a href="/march">March 2020</a></li>
            <li><a href="/february">February 2020</a></li>
            <li><a href="/january">January 2020</a></li>
            <li><a href="/december">December 2019</a></li>
        </ul>

        <a href="/" data-target="slide-out" class="sidenav-trigger button-collapse right"><i
                class="material-icons white-text">Menu</i></a>
    </div>
</nav>
<ul id="slide-out" class="sidenav">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-teal active">Previous Newsletters</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/">May 2020</a></li>
                        <li><a href="/april">April 2020</a></li>
                        <li><a href="/march">March 2020</a></li>
                        <li><a href="/february">February 2020</a></li>
                        <li><a href="/january">January 2020</a></li>
                        <li><a href="/december">December 2019</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

<!--Header-->
<div class="mayHeader full-height">
    <div class="may-header-larger">
        <div class="row">
            <div class="col s12 center">
                <h2 class="april-header">MLKCH Perinatal Department's</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <img src="/images/may/pngguru.com.png" class="center may-header-image-small">
            </div>
            <div class="col s3">
                <img src="/images/may/beauties.JPG" class="center may-header-image">
            </div>
            <div class="col s3">
                <img src="/images/may/eggs.JPG" class="center may-header-image">
            </div>
            <div class="col s3">
                <img src="/images/may/pngguru.com.png" class="center may-header-image-small-left">
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h2 class="april-header">May 2020 Newsletter</h2>
            </div>
        </div>
    </div>
</div>

<div class="section march-tammy-back full-height">
    <div class="row valign">
        <div class="col s12 center">
            <h2 class="may-tammy-title"> We are Family</h2>
        </div>
        <div class="col s12 center">
            <h2 class="tammy-feb-message">A Message From Your Perinatal Services Manager - Tammy Turner</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l4">
            <div class="row autoMid">
                <div class="col s12">
                    <img class="tammy-may center" src="/images/tammy-turner.jpg">
                </div>
            </div>
            <div class="row autoMid">
                <div class="col s12">
                    <img class="tammy-may-dog center" src="/images/may/mask.JPG">
                </div>
            </div>
        </div>
        <div class="col s12 m12 l8">
            <div class="row">
                <div class="col s12">
                    <h4 class="tammy-may-text center">
                        Nothing will test the connection of a family more than a difficult situation or circumstance. It
                        is during those times that we see just how much we mean to each other. Recently we had the
                        unfortunate opportunity to go through such a situation where one of our members faced a serious
                        challenge, and it hit each of us very hard. This one thing pulled all of us closer together and
                        helped us to realize that nothing matters more than wanting the very best for each of our
                        members. During that moment nothing in the past was more important the the hope that our loved
                        one would get better. We were all on the same page in wanting them to pull through and come back
                        to us. We focused on what was important and not the small things that really don’t matter.</h4>
                    <hr class="tammy-hr">
                    <h4 class="tammy-may-text center">
                        How would it look if we did that every day? If we pulled for each other rather than against each
                        other? Strive for everyone to be better, and not just ourselves? Gave everyone the benefit of
                        doubt rather than automatically assuming the worse? Work as a team rather than in silos?I
                        challenge each and every one of you to embrace the idea that we really are a family and each
                        of us is vitally important to the overall well-being of the family. And if that is really true,
                        ask yourself how do my actions or lack there of impact the family? Do I make the family stronger
                        or weaker?If you have never thought about it, today is a good day to change that! Remind
                        yourself of the
                        fact that what we do really does impact the whole family!
                    </h4>
                    <p class='tammy-may-end'>Be safe, Tammy</p>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <img src="/images/may/heart_gif.gif" alt="" class="heart center">
                </div>
                <div class="col s4">
                    <img src="/images/may/heart_gif.gif" alt="" class="heart center">
                </div>
                <div class="col s4">
                    <img src="/images/may/heart_gif.gif" alt="" class="heart center">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section may-cooking full-height">
    <div class="row valign">
        <div class="col s12 center">
            <h2 class="may-cooking-title">Cooking with Grand ma-mah</h2>
        </div>
        <div class="col s1"></div>
        <div class="col s5 center">
            <img src="/images/may/cooking_picture.jpg" class="cooking">
        </div>
        <div class="col s6 center">
            <video src="/images/may/cooking_video.mp4" controls autoplay muted loop class="cooking"></video>
        </div>
    </div>
</div>

{{!-- MoD --}}

<div class="section blue-may full-height">
    <div class="row valign">
        <div class="col s1"></div>
        <div class="col s10">
            <h1 class="hand-wash">Don't Rush </h1>
            <h1 class="hand-wash">Don't Forget </h1>
            <h1 class="hand-wash">Wash Your Hands</h1>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="row valign">
        <div class="col s12">
            <video class="wash-video" autoplay loop muted controls src="/images/may/wash-hands.mp4"></video>
        </div>
    </div>
</div>


<div class="section disco-may full-height">
    <div class="row">
        <div class="col s6">
            <div class="row">
                <div class="col s12">
                    <h1 class="dance-text center">Having Fun on the Front Lines</h1>
                </div>
                <div class="col s12">
                    <h1 class="dance-text center">The Perinatal Dept. Dance Crew</h1>
                </div>
            </div>
        </div>
        <div class="col s3">
            <video src="/images/may/dance-may-2.mp4" class="hen-april center" autoplay muted loop controls></video>
        </div>
        <div class="col s3">
            <video src="/images/may/dance-may.mp4" class="hen-april center" autoplay muted loop controls></video>
        </div>
    </div>
</div>


{{!-- Birthday --}}
<div class="section feb-birthday full-height">
    <div class="row valign">
        <div class="col s1"></div>
        <div class="col s10 center">
            <h2 class="JingleTitle marchbday">Celebrating our Perinatal May Birthdays</h2>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <h2 class="JingleTitle marchbday">Cynthia</h2>
        </div>
        <div class="col s4"></div>
    </div>
    <div class="row">
        <div class="col s12">
            <img src="/images/february/cake-gif.gif" alt="cake-gif" class="cake-feb">
        </div>
    </div>
</div>

<div class="section dog-may-back full-height">
    <div class="row valign">
        <div class="col s12 center">
            <h2 class="JingleTitle marchbday">Pet Shout Out: Michelle's Dogs Railey and Trooper</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <video src="/images/may/dog-turtle.mp4" class="hen-april center" autoplay muted loop controls></video>
        </div>
        <div class="col s3">
            <img src="/images/may/blackandbrowndog.jpg" class="hen-april center" />
        </div>
        <div class="col s3">
            <video src="images/may/car-dogs.mp4" class="hen-april center" autoplay muted loop controls></video>
        </div>
        <div class="col s3">
            <img src="/images/may/waterbrown.JPG" class="hen-april center" />
        </div>
    </div>
    <div class="row">
        <h3 class="petTextMay">These are my two fur children....Railey and Trooper! A fun fact, you might not know about
            me, is I am the ultimate animal lover! I absolutely love animals, and I always wanted to be a veterinarian.
            Trooper, the black dog, is about 3 years old, and my husband and I rescued him off the side of the 710
            freeway. He was hit by a car, and laying their lifeless. We thought we saw him move when we drove by, so we
            turned the car around and got back on the freeway, and noticed he was ran over by a car and badly injured,
            but still alive! He was laying in a pool of blood, so we picked him up with a blanket we had inside the car,
            and drove him to the nearest veterinarian office in Compton. He had a shattered pelvis, and was so skinny
            and scrawny. The veterinarian gave him a bunch of pain meds, and told us there is nothing you can do for a
            shattered pelvis, and he just has to heal on his own. We slowly nursed him back to health, and made him a
            sling so we could lift his hind legs up for him when he went to the bathroom, because he couldn't bear
            weight on them. After a few weeks he got better, and this is how he got his name Trooper! I didn't want a
            second dog at the time, but he nuzzled his way so deep into our hearts, there was no way we could give him
            up for adoption. He has the worlds worst under bite you have ever seen, and a tear in his ear from getting
            into a dog fight when he lived on the streets. He might not be the cutest dog ever...but he is the most
            loving, sweetest, gentlest, biggest lap dog you could EVER imagine! He is so appreciative that we saved his
            life. Dogs really are amazing animals! He became best friends with our other dog, Railey, we had adopted a
            few years back at a rescue. They are now inseparable, and best buddies.</h3>
    </div>
</div>




{{!-- Calendar --}}
<div class="may-calendar full-height">
    <div class="container">
        <div class="row">
            <div class="decemberHeader center">
                <h1 class="march-Title">May 2020 Calendar</h1>
            </div>
        </div>
        <div class="row">
            <div class="weekday">
                <h4 class="weekdayMessage">Sunday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Monday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Tuesday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Wednesday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Thursday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Friday</h4>
            </div>
            <div class="weekday">
                <h4 class="weekdayMessage">Saturday</h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber"></h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">1</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">2</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">3</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">4</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">5</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">6</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">7</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">8</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">9</h5>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">10</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">11</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">12</h5>
                <h4 class="dateMessage"></h4>

            </div>
            <div class="tableRow">
                <h5 class="dayNumber">13</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">14</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">15</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">16</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">17</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">18</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">19</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">20</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">21</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">22</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">23</h5>

            </div>
        </div>
        <div class="row">
            <div class="tableRow">
                <h5 class="dayNumber">24</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">25</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">26</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">27</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">28</h5>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">29</h5>
                <h4 class="dateMessage"></h4>
            </div>
            <div class="tableRow">
                <h5 class="dayNumber">30</h5>
                <h4 class="dateMessage"></h4>
            </div>
        </div>
        <div class="row">
            <h1 class="april-next center">Stay Tuned for Our June Newsletter. The Summer is almost here!</h1>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>

<!-- External libraries -->
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/ScrollMagic.min.js"></script>
<script src="/js/animation.gsap.min.js"></script>

<!-- Initialization script -->
<script src="/js/startup.js"></script>
<script src="/js/init.js"></script>
<script src="/js/page.js"></script>