.FebruaryHeader {
    background-image: url('/images/february/Hearts.jpg');
    height: 100vh;
    display: flex;
    align-items: center; 
}
.february-header {
    font-family: 'Ultra', serif;
    font-size: 5em;
    color: lightcoral;
}
.february-header-larger {
    background: white;
    margin: auto;
    height: 80vh;
    width: 70%;
    border-radius: 0.5em;
    border: 10px solid lightskyblue;
}
.february-top-image {
    height: 20vh;
    padding: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.stretch {
    width: 100%;
    height: 25vh;
}
.february-top-video {
    height: 25vh;
}
/* Message from Tammy */
.february-tammy-title {
    font-size: 8em;
    color: palevioletred;
    text-shadow: 3px 3px rgba(215,14,208,1);
    font-weight: 600;

}
.tammy-feb {
    height: 400px;
    width: 500px;
    border-radius: 40%;
    padding: 0.5em;
    background: pink;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tammy-feb-text {
    font-weight: 550;
    font-size: 1.6em;
    padding: 0.4em;
    border-radius: 0.4em;
    border: 5px solid black;
    background: palevioletred;
}
.feb-tammy-back {
    position: relative;
    z-index: 1;
    height: 120vh !important;
    border-top: 5px solid red;
}
.bottom-text-feb {
    width: 90%;
    display: block;
    margin: auto;
}

.feb-tammy-back::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('/images/february/mlkch.jpg') center center no-repeat;
    opacity: .4;
}
/* Teresa Midwife */
.teresa-feb {
    color: white;
    text-shadow: 2px 2px red;
    font-size: 1.2em;
}
.february-midwife-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 5em;
    font-weight: 500;
    width: 70%;
    border-radius: 0.6em;
    padding: 0.2em;
    background: pink;
    border: 5px solid black;
}
.february-midwife-text {
    text-align: center;
    background: pink;
    padding: 0.5em;
    border-radius: 0.3em;
    color: black;
    border: 2px solid black;
} 
.teresa-midwife-picture {
    height: 90vh;
    border-radius: 50%;
    padding: 0.5em;
    background: pink;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.feb-midwife-back {
    border-top: 5px solid red;
    background-image: url('/images/february/teresaback.jpg');
}
/* Feb Cert */
.febPictureCert {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    padding: 1em;
    background: red;
}
.febPictureParty {
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background: red;
}
.academy-back-feb {
    border-top: 5px solid red;
    background-image: url("/images/february/celebrate-academy.jpg");
    background-size: contain;
    background-position: center;
    border-bottom: 5px solid navy;
}

.academyTitle {
    text-align: center;
    background: pink;
    padding: 0.5em;
    border-radius: 0.3em;
    color: lightskyblue;
    text-shadow: 2px 2px firebrick;
    font-weight: 550;
    border: 2px solid black;
    font-size: 5em;

}
/* Jingle-Mingle */
.jingleVideo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background: lime;
    width: 46vw;
    border-radius: 0.5em;

}
.jingle-mingle {
    border-top: 5px solid red;
    background-image: url("/images/february/jingleBackground.jpg");
    background-size: contain;
    background-position: center;
    border-bottom: 5px solid navy;
}
.JingleTitle {
    text-align: center;
    background: pink;
    padding: 0.5em;
    border-radius: 0.3em;
    color: lightskyblue;
    text-shadow: 2px 2px firebrick;
    font-weight: 550;
    border: 2px solid black;
    font-size: 5em;

}
/* March of Dimes */
.marchPicture {
    height: 90vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background: lime;
    border: 2px solid black;
    border-radius: 0.5em;
}
/* Group Achievment */
.achievement-feb {
    height: 150vh !important;
}
/* Calendar */
.february-calendar {
    border-top: 5px solid red;
    background-image: url("/images/february/heartsCalendar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 5px solid navy;
}
.february-next {
    color: black;
    font-size: 5em;
    font-weight: 450;
    text-shadow: 1px 1px red;
}
.february-Title {
    margin: auto;
    font-size: 10em;
    font-weight: 500;
    color: black;
    text-shadow: 1px 1px red;
}
.march {
    color: green;
    font-size: 1.2em;
}