/*HEADER DIV*/
.headerDiv {
  background-image: url("/images/2020.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh !important;
  border-bottom: 5px solid navy;
}
/*TAMMY*/
.tammyJanTitle {
  font-size: 70px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px gold;
}
.tammyJanText {
  font-size: 40px;
  color: black;
}
/*CHRISTMAS PARTY RECAP*/
.partyTitle {
  font-size: 80px;
  text-shadow: 5px 5px black;
  font-weight: bold;
}
.partyText {
  font-size: 40px;
  text-shadow: 1px 1px black;
}

.circleVideo {
  height: 400px;
  width: 400px;
}
.circleVideoMain {
  height: 600px;
  width: 600px;
}
.circle {
  height: 250px;
  width: 250px;
  border: 2px solid gold;
  border-radius: 50%;
}
.mainCircle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid gold;
}
.centerAlign {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.christmasParty {
  width: 100%;
  background: rgb(68, 14, 14);
  background: linear-gradient(
    90deg,
    rgba(68, 14, 14, 1) 0%,
    rgba(209, 53, 53, 1) 53%,
    rgba(202, 37, 37, 1) 62%,
    rgba(187, 49, 49, 1) 79%,
    rgba(243, 3, 3, 1) 100%,
    rgba(222, 0, 255, 1) 100%
  );
  border-bottom: 5px solid navy;
}

/*MIDWIFE*/
.midWife {
  background-image: url("/images/Meet\ your\ Midwife.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 110vh !important;
  border-bottom: 5px solid navy;
}

/*ARCI*/
.arciBack {
  background-image: url("/images/stethoscope-on-blue-background-with-copy-space-picture-id910733632.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh !important;
  border-bottom: 5px solid navy;
}
.ArciTitle {
  font-size: 80px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px gold;
}
.arciText {
  text-indent: 50px;
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
  color: black;
}
.arciPicture {
  height: 650px;
  width: 650px;
  border-radius: 20%;
  object-fit: cover;
  border: 2px solid gold;
  margin-left: -60px;
  margin-top: -50px;
  box-shadow: 5px 5px 2px black;
}
/*TAMMY*/
.tammyBackground {
  background-image: url("/images/Ms.\ Tammy.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 77.5vh !important;
  border-bottom: 5px solid navy;
}
/*DIKIO*/
.medicalBackground {
  background-image: url("/images/banner-plus-1024x432.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 120vh !important;
  border-bottom: 5px solid navy;
}
.dikioPicture {
  height: 750px;
  width: 700px;
  border-radius: 30%;
  box-shadow: 5px 5px 2px black;
}
.dikioTitle {
  font-size: 100px;
  color: black;
  text-shadow: 2px 2px gold;
  font-weight: bold;
}
.dikioText {
  font-size: 30px;
  line-height: 35px;
  color: black;
  font-weight: bold;
}
/*BIRTHDAYS */
.janBirth {
  background-image: url("/images/Jan_Bday.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh !important;
  border-bottom: 5px solid navy;
}
/*DEPARTMENT*/
.department {
  background-image: url("/images/from\ your\ Department\ chair.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 77.5vh !important;
  border-bottom: 5px solid navy;
}
.deptTitle {
  font-size: 90px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px gold;
}
.deptText {
  font-size: 30px;
  color: black;
}
/*TOY DRIVE */
.toyDrive {
  background-image: url("/images/toyDrive.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh !important;
  border-bottom: 5px solid navy;
}
/*PetShoutOut*/
.petShout {
  background-image: url("/images/dogBack.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 5px solid navy;
}
.petTitle {
  font-size: 120px;
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px gold;
}
.circleDog {
  height: 300px;
  width: 300px;
  border: 2px solid gold;
  object-fit: cover;
  border-radius: 50%;
}
.dogText {
  color: black;
}
/*CALENDAR*/
.calendarBackground {
  background-image: url("/images/januaryBackgroundCalendar.jpg");
  height: 130vh !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 5px solid navy;
}
.tableRow {
  border: thick solid black;
  width: 14%;
  float: left;
  height: 150px;
}
.tableRowEnd {
  border: 1px solid black;
  width: 56%;
  float: left;
  height: 150px;
}

.monthTitle {
  font-size: 7rem;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  text-shadow: 5px 5px red;
}
.monthTitle1 {
  font-size: 4rem;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  text-shadow: 5px 5px red;
}

.brand-logo {
  font-family: "Acme", sans-serif !important;
}

.weekday {
  border: thick solid black;
  width: 14%;
  float: left;
  height: 75px;
  color: black;
}
.dayNumber {
  height: 1%;
  width: 14%;
  text-align: center;
  padding: 0;
  color: black;
}
.dateMessage {
  clear: both;
  text-align: center;
  font-size: 1rem;
  color: black;
}
.dateMessage1 {
  clear: both;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 1px 1px red;
  color: black;
}
.weekdayMessage {
  clear: both;
  text-align: center;
  font-size: 1.5rem;
}
/*AngelaMed*/
.angelaBack {
  background-image: url("/images/angelaback.jpg");
  height: 80vh !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 5px solid navy;
}
.circleLucy {
  height: 450px;
  width: 450px;
  border: 2px solid gold;
  border-radius: 50%;
  object-fit: cover;
}
.lucyTitle {
  font-size: 90px;
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px gold;
}
.angelaText {
  font-size: 50px;
  font-weight: bold;
}
/*CELEBRATION */
.celebration {
  background-image: url("/images/celebration.jpg");
  height: 130vh !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 5px solid navy;
}
.kudosTitle {
  font-size: 90px;
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px gold;
}
.kudosText {
  text-indent: 80px;
  font-size: 35px;
  font-weight: bold;
  line-height: 45px;
}
.kudosCircle {
  height: 750px;
  width: 750px;
  border: 2px solid gold;
  border-radius: 50%;
  margin-top: 200px;
}

/*FIREWORKS ANIMATION */
.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84,
    190px 16.33333px #002bff, -113px -308.66667px #ff009d,
    -109px -287.66667px #ffb300, -50px -313.66667px #ff006e,
    226px -31.66667px #ff4000, 180px -351.66667px #ff00d0,
    -15px -338.66667px #00f6ff, 220px -388.66667px #99ff00,
    -69px -27.66667px #ff0400, -111px -339.66667px #6200ff,
    155px -237.66667px #00ddff, -155px -380.66667px #00ffd0,
    -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00,
    -88px 10.33333px #0d00ff, 115px -309.66667px #005eff,
    69px -415.66667px #ff00a6, 168px -100.66667px #ff004c,
    -244px 24.33333px #ff6600, 97px -325.66667px #ff0066,
    -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff,
    140px -196.66667px #9000ff, 125px -175.66667px #00bbff,
    118px -381.66667px #ff002f, 144px -111.66667px #ffae00,
    36px -78.66667px #f600ff, -63px -196.66667px #c800ff,
    -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff,
    -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2,
    91px -278.66667px #000dff, -25px -191.66667px #9dff00,
    139px -392.66667px #a6ff00, 56px -2.66667px #0099ff,
    -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb,
    -238px -346.66667px #00ff73, 65px -363.66667px #0088ff,
    244px -170.66667px #0062ff, 224px -142.66667px #b300ff,
    141px -208.66667px #9000ff, 211px -285.66667px #ff6600,
    181px -128.66667px #1e00ff, 90px -123.66667px #c800ff,
    189px 70.33333px #00ffc8, -18px -383.66667px #00ff33,
    100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white;
  }
}
@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white;
  }
}
@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white;
  }
}
@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white;
  }
}
@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*FISH /*
body {
  background: #6ca3a3;
}

svg#fish {
  top: 5em;
}
/* Fish Animation */
svg.fish {
  overflow: visible;
}

@-webkit-keyframes swim {
  0% {
    margin-left: -235px;
  }
  90% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes swim {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

.fish {
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  animation: swim 20s;
  -webkit-animation: swim 20s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

svg #fish1,
svg #fish2,
svg #fish3,
svg #fish4,
svg #fish5,
svg #fish6 {
  fill: #528484;

  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

svg #fish2 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

svg #fish3 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

svg #fish4 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

svg #fish5 {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

svg #fish6 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

/**/
@-moz-keyframes bounce {
  0%,
  50%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@-webkit-keyframes bounce {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@keyframes bounce {
  0%,
  50%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

/*END Fish Animation*/
