/*FALLING SNOW ANIMATION----------------------------------------*/
.fallingSnow {
    text-align: center;
}
.fallingSnow span {
    display: inline-block;
    width: 100px;
    height: 100px;
    opacity: 0;
	margin: -280px 60px 54px  -34px;
    background-image:url("/images/snowflake.png");
    background-repeat: no-repeat;
    animation: fallingSnow 12s infinite  cubic-bezier(0.35,0.45,0.39,0.29);
}

.fallingSnow span:nth-child(5n+5) {
  animation-delay:1s;
}
.fallingSnow span:nth-child(3n+2) {
  animation-delay:1.5s;
}

.fallingSnow span:nth-child(2n+5) {
  animation-delay:1.7s;
}
.fallingSnow span:nth-child(5n+5) {
  animation-delay:1s;
}
 
.fallingSnow span:nth-child(3n+2) {
  animation-delay:1.5s;
}
 
.fallingSnow span:nth-child(2n+5) {
  animation-delay:1.7s;
}
@keyframes fallingSnow {
  0% { opacity: 0.5; transform: translate(-10px, 0px) rotateZ(0deg)};
  75% { opacity: 1; transform: translate(100px, 800px) rotateZ(270deg)}
  100% { opacity: 0.4; transform: translate(150px, 1100px) rotateZ(360deg)}
}
/*HEADER -----------------------------------------------------*/
.header {
    background-image: url("/images/header.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 5px solid red;
}
.textHeader {
    padding: 0px 400px !important;
    font-size: 6rem !important;
}
.tagline {
    color: black !important;
    font-size: 4rem !important;
}
.background {
    width: 100%  !important;
    height: 100vh !important;
}
/*TAMMY -------------------------------------------------------*/
.background1 {
    background-image: url("/images/Christmas-background-hd3.png");
    background-position: center;
    height:115vh !important;
    background-repeat: no-repeat;
    border-bottom: 5px solid red;
}
.tammy {
    height: 700px;
    width: 700px;
    object-fit: cover !important;
    border-radius: 50%;
}
.Manager {
    font-size:4.5rem;
    font-weight: bold;
    color: white;
}
.titles {
    font-weight: bold;
    color: white;
    font-size: 3.5rem;
}
/*TEAM------------------------------------------------------*/
.card-title {
    font-size: 3rem !important;
    font-weight: bold;
    text-shadow: 1px 1px red;
}
.blacktext {
    color: black !important;
}
.opaque {
    font-size: 2rem;
    opacity: 0.8;
}
.card {
    background: transparent !important;
    width: 100% !important;
    border: none !important;
}
.cardR   {
    width: 80% !important;
    margin-left: 10%;
    text-align: center;
}
.this {
    height: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 73px;
}
.circle {
    height: 250px !important;
    width: 250px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}
.christmas {
    background-image: url("/images/christmas.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 5px solid red;
}
.ball {
    height: 42vh;
    background-image: url("/images/kisspng-orange-christmas-ornament-christmas-decoration-christmas-ball-5ab0a1c9d44220.7385845615215251938694.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.ballNight {
    height: 40vh;
    background-image: url("/images/PNGIX.com_holiday-ornaments-png_5703991.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.frame {
    height: 40vh;
    background-image: url("/images/mmm_burned.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.rectangle {
    height: 40vh;
    background-image: url("/images/topball_burned.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.silver {
    height: 40vh;
    background-image: url("/images/cus_burned.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.name {
    font-size: 2.5rem;
    font-weight: bold;
}
.input {
    font-size: 1.5rem;
}
.textCard {
    font-size: 2rem;
    color: black;
    line-height: 50px;
}
/*CNM -------------------------------------------------------------------------*/
.angela {
    height: 70vh;
    width: 100%;
    object-fit: cover !important;
    display: block !important;
    margin: 0 auto !important;
    border: 5px solid black;  
    border-radius: 10%;  
}
.cnm {
    height: 155vh !important;
}
.angelaHeader {
    text-align: right;
}
.cnmText {
    font-size: 2rem;
    text-align: right;
    color: black;
}
.credentials {
    font-size: 1rem;
    list-style-position: inside;
    list-style-type: square !important;
}
.redback {
    background-image: url("/images/logo2.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-top:5px solid red;
    border-bottom:5px solid red;
    color: black !important;
}
/*BACK SCHOOL-------------------------------------------------------*/
.backSchool {
    object-fit: cover !important;
    display: block !important;
    margin: 0 auto !important;
}
.gradient {
    background: rgb(141,187,210);
}
.headerImage {
    background-image: url("/images/back-to-school-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:40vh;
}
.schoolDescription {
    color: black;
}
.putRight {
    text-align: right;
}
/*HOWIE --------------------------------------------------------------------*/
.howieBack {
    background-image: url("/images/howieBack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom:5px solid red;
}
.imgClass {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgClass1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.contain {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.howieText {
    text-align: center;
}
.mainCircle{
    height: 400px !important;
    width: 400px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}
.circleSpecial {
    height: 400px !important;
    width: 400px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.circleChavira {
    height: 470px !important;
    width: 350px !important;
    border-radius: 10%;
    object-fit: contain !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -65px;
}
.howieText {
    text-shadow: 5px 5px black;
}
.howiepic {
    background: gold;
    padding: 10px;
}
.educators {
    background-image: url("/images/educators\ layout.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom:5px solid red;
}
.breastBack {
    background-image: url("/images/Breasfeeding\ layput.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom:5px solid red;
}
/*SAVE THE DATE --------------------------------------------------------------*/
.date {
    background-image: url("/images/save.png");
    height: 55vh !important;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom:5px solid red;
}
.birthday {
    background-image: url("/images/December\ birthday.png");
    height: 110vh !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom:5px solid red;
}
/*CALENDAR ---------------------------------------------------------------------------------*/
.tableRow {
    border: 1px solid black;
    width: 14%;
    float: left;
    height: 150px;
}
.weekday {
    border: 1px solid black;
    width: 14%;
    float: left;
    height: 75px;
}
.dayNumber {
    height:1%;
    width:14%;
    text-align: center;
    padding:0;
}
.dateMessage {
    clear: both;
    text-align: center;
    font-size: 1rem;
}
.weekdayMessage {
    clear: both;
    text-align: center;
    font-size: 1.5rem;
}
.balloon1 {
    background-image: url(https://i.imgur.com/QJZPw2X.png);
    width: 180px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    animation: move_y 30s linear forwards, oscil1 6s infinite;
    margin-top: 20px;
}
.balloon2 {
    background-image: url(https://i.imgur.com/QJZPw2X.png);
    width: 180px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    animation: move_y 30s linear forwards, oscil1 6s infinite;
}
.balloon3 {
    background-image: url(https://i.imgur.com/QJZPw2X.png);
    width: 180px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    animation: move_y 30s linear forwards, oscil1 6s infinite;
    margin-top: 20px;
}
  
  
  @keyframes move_y {
    from {
      bottom: -10%;
    }
    to {
      bottom: 100%;
    }
  }
  
  @keyframes oscil1 {
    from {
      translate: 0 0;
      transform: rotate(0deg);
      animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
    }
    25% {
      translate: 10px 0;
      transform: rotate(3deg);
      animation-timing-function: cubic-bezier(0.7, 0.0, 0.9, 0.7);
    }
    50% {
      translate: 0 0;
      transform: rotate(0deg);
      animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
    }
    75% {
      translate: -10px 0;
      transform: rotate(-3deg);
      animation-timing-function: cubic-bezier(0.7, 0.0, 0.9, 0.7);
    }
    to {
      translate: 0 0;
      transform: rotate(0deg);
    }
  }
