/*FALLING SNOW ANIMATION----------------------------------------*/
.fallingSnow {
    text-align: center;
}
.fallingSnow span {
    display: inline-block;
    width: 100px;
    height: 100px;
    opacity: 0;
	margin: -280px 60px 54px  -34px;
    background-image:url("/images/snowflake.png");
    background-repeat: no-repeat;
    animation: fallingSnow 12s infinite  cubic-bezier(0.35,0.45,0.39,0.29);
}

.fallingSnow span:nth-child(5n+5) {
  animation-delay:1s;
}
.fallingSnow span:nth-child(3n+2) {
  animation-delay:1.5s;
}

.fallingSnow span:nth-child(2n+5) {
  animation-delay:1.7s;
}
.fallingSnow span:nth-child(5n+5) {
  animation-delay:1s;
}
 
.fallingSnow span:nth-child(3n+2) {
  animation-delay:1.5s;
}
 
.fallingSnow span:nth-child(2n+5) {
  animation-delay:1.7s;
}
@keyframes fallingSnow {
  0% { opacity: 0.5; transform: translate(-10px, 0px) rotateZ(0deg)};
  75% { opacity: 1; transform: translate(100px, 800px) rotateZ(270deg)}
  100% { opacity: 0.4; transform: translate(150px, 1100px) rotateZ(360deg)}
}
/*HEADER -----------------------------------------------------*/
.header {
    background-image: url("/images/header.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}
.textHeader {
    padding: 0px 400px !important;
    font-size: 6rem !important;
}
.tagline {
    color: black !important;
    font-size: 4rem !important;
}
.background {
    width: 100%  !important;
    height: 100vh !important;
}
/*TEAM------------------------------------------------------*/
.card {
    background: transparent !important;
    width: 100% !important;
}
.cardR   {
    width: 80% !important;
    margin-left: 10%;
    text-align: center;
}
.this {
    height: 20vh;
    text-align: center !important;
    margin-top: 5.5rem !important;
    margin-left: 6.5vh !important;
}
.that {
    position: absolute;
    top: 80px !important;
    margin-left: 260px;
}
.those {
    position: absolute;
    top: 80px !important;
    margin-left: 655px;
}
.circle {
    height: 250px !important;
    width: 250px !important;
    border-radius: 50% !important;
}
.christmas {
    /*background-image: url("/images/christmas.jpg");*/
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}
.ball {
    height: 40vh;
    background-image: url("/images/kisspng-orange-christmas-ornament-christmas-decoration-christmas-ball-5ab0a1c9d44220.7385845615215251938694.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.name {
    font-size: 2.5rem;
    font-weight: bold;
}
.input {
    font-size: 1.5rem;
}